In [13]:
import pandas as pd
import glob

def load_salesstore_data(data_folder):
    # Get the path to all files containing 'salesstore' and ending with '.xlsx'
    salesstore_files = glob.glob(data_folder + "/salebystore*.xlsx")
    
    # If no files are found, raise a FileNotFoundError
    if not salesstore_files:
        raise FileNotFoundError(f"No 'salebycategory*.xlsx' files found in {data_folder}")

    # Load all the salesstore data into a list of pandas dataframes
    salesstore_dfs = [pd.read_excel(file) for file in salesstore_files]
    
    # Concatenate all the dataframes into one
    salesstore_df = pd.concat(salesstore_dfs, ignore_index=True)
    
    return salesstore_df

# Define the data folder
data_folder1 = r'C:\Users\PC\Dropbox\Projects\data_xls'
data_folder2 = r'C:\Users\trieu.pham\Dropbox\Projects\data_xls'
data_folder3 = r'/Users/trieupham/Dropbox/Projects/data_xls'

try:
    df = load_salesstore_data(data_folder1)
except FileNotFoundError:
    try:
        df = load_salesstore_data(data_folder2)
    except FileNotFoundError:
        try:
            df = load_salesstore_data(data_folder3)
        except FileNotFoundError:
            print("Data folder not found")
            raise
print(df.head())

  storeCode                     storeName  regionCode regionName  billCount  \
0    VN0265  GS25 Hoang Anh Thanh Binh_FC         107     HCM_Q7        324
1    VN0265  GS25 Hoang Anh Thanh Binh_FC         107     HCM_Q7        318
2    VN0265  GS25 Hoang Anh Thanh Binh_FC         107     HCM_Q7        281
3    VN0265  GS25 Hoang Anh Thanh Binh_FC         107     HCM_Q7        248
4    VN0265  GS25 Hoang Anh Thanh Binh_FC         107     HCM_Q7        271

   customerCount  qty  grossSales  itemDiscount  billDiscount  netSales  \
0            110  808    14736000        370000             0  13627953
1            108  827    15408000        416000             0  14267826
2            104  787    14348000        413000             0  13275704
3            101  628    13560000        375000             0  12575169
4            103  675    12247000        379000             0  11339896

   vatAmount  totalCostPrice  cancelBillCount  exceptItemActionCount   dateKey
0    1108047    9.371625e+06                2                     24  20240331
1    1140174    9.795670e+06                5                     38  20240330
2    1072296    9.136273e+06                3                     20  20240329
3     984831    8.732516e+06                4                     27  20240328
4     907104    7.825794e+06                2                     34  20240327

In [14]:
#make sure there are not any duplicated rows
print(df.duplicated().sum())

#drop duplicated rows
df = df.drop_duplicates()

0

In [15]:
import pandas as pd

# Convert the 'dateKey' column to datetime format
df['dateKey'] = pd.to_datetime(df['dateKey'], format='%Y%m%d')

# Extract the weekday from the date
df['weekday'] = df['dateKey'].dt.day_name()

# Group by the weekday and calculate the mean of 'netSales'
average_sales = df.groupby('weekday')['netSales'].mean()

# Sort the weekdays descendingly by the average net sales
average_sales = average_sales.sort_values(ascending=False)

# Change sale format to currency, with two decimal places
average_sales = average_sales.map('{:,.2f}'.format)

print(average_sales)

weekday
Saturday     15,085,456.33
Sunday       14,146,994.79
Friday       12,585,893.83
Tuesday      12,273,021.52
Wednesday    12,182,122.54
Thursday     11,744,798.62
Monday       11,660,162.54
Name: netSales, dtype: object

In [16]:
# Extract the year and month from the 'dateKey' column
df['year_month'] = df['dateKey'].dt.to_period('M')

# Group by the 'year_month' column, and calculate the sum of 'netSales'
monthly_sales = df.groupby('year_month')['netSales'].sum()

# Count the number of unique days in each month
days_in_month = df.groupby('year_month')['dateKey'].nunique()

# Calculate the average daily sales per month
average_daily_sales = monthly_sales / days_in_month

# Sort the average daily sales in descending order
average_daily_sales = average_daily_sales.sort_values(ascending=False)

# Change the sales format to currency, with two decimal places
average_daily_sales = average_daily_sales.map('{:,.2f}'.format)

print(average_daily_sales)

year_month
2024-06    15,663,862.83
2024-05    13,664,188.94
2024-04    13,582,927.00
2024-03    12,429,899.94
2024-01    11,756,127.50
2024-02    10,810,962.24
Freq: M, dtype: object

In [17]:
df.head()

,storeCode,storeName,regionCode,regionName,billCount,customerCount,qty,grossSales,itemDiscount,billDiscount,netSales,vatAmount,totalCostPrice,cancelBillCount,exceptItemActionCount,dateKey,weekday,year_month
0,VN0265,GS25 Hoang Anh Thanh Binh_FC,107,HCM_Q7,324,110,808,14736000,370000,0,13627953,1108047,9.371625e+06,2,24,2024-03-31,Sunday,2024-03
1,VN0265,GS25 Hoang Anh Thanh Binh_FC,107,HCM_Q7,318,108,827,15408000,416000,0,14267826,1140174,9.795670e+06,5,38,2024-03-30,Saturday,2024-03
2,VN0265,GS25 Hoang Anh Thanh Binh_FC,107,HCM_Q7,281,104,787,14348000,413000,0,13275704,1072296,9.136273e+06,3,20,2024-03-29,Friday,2024-03
3,VN0265,GS25 Hoang Anh Thanh Binh_FC,107,HCM_Q7,248,101,628,13560000,375000,0,12575169,984831,8.732516e+06,4,27,2024-03-28,Thursday,2024-03
4,VN0265,GS25 Hoang Anh Thanh Binh_FC,107,HCM_Q7,271,103,675,12247000,379000,0,11339896,907104,7.825794e+06,2,34,2024-03-27,Wednesday,2024-03

In [18]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

# Convert 'year_month' to a numerical format
df['year_month_num'] = df['year_month'].dt.to_timestamp().dt.year * 12 + df['year_month'].dt.to_timestamp().dt.month

# Group by the 'year_month_num' column, and calculate the sum of 'netSales' and count of 'dateKey'
grouped_df = df.groupby('year_month_num').agg({'netSales': 'sum', 'dateKey': 'nunique'})

# Calculate the average daily sales per month
average_daily_sales = grouped_df['netSales'] / grouped_df['dateKey']

# Fit a linear regression model
model = LinearRegression()
model.fit(grouped_df.index.values.reshape(-1, 1), average_daily_sales)

# Predict the month and year when the average daily sales will reach the target
target = 16000000
predicted_month_num = int((target - model.intercept_) / model.coef_[0])
predicted_year, predicted_month = divmod(predicted_month_num, 12)

# Print the prediction, target format to currency, with two decimal places
target = '{:,.2f}'.format(target)
print(f'The average daily sales will reach {target} in {predicted_month}/{predicted_year}')

The average daily sales will reach 16,000,000.00 in 7/2024