In [25]:
import os
import pandas as pd

try:
    data_path = r'C:\Users\PC\Dropbox\Projects\data_xls\detailTrans'
    files = os.listdir(data_path)
except:
    # If data path not exist
    data_path = '/Users/trieupham/Dropbox/Projects/data_xls/detailTrans'
    files = os.listdir(data_path)
dfs = []

for file in files:
    file_path = os.path.join(data_path, file)
    if file.endswith('.xlsx'):  # Ensure we're only processing Excel files
        try:
            # Attempt to read each Excel file
            df = pd.read_excel(file_path)
        except Exception as e:
            print(f'Error reading {file}: {e}')
        else:
            dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df)
combined_df.to_csv('combined_transactions.csv', index=False)

              invoiceDate         invoiceCode storeCode employeeCode  \
0     20/06/2024 13:03:11  VN0265012006240042    VN0265   F231230010
1     20/06/2024 13:03:11  VN0265012006240042    VN0265   F231230010
2     20/06/2024 13:12:08  VN0265012006240043    VN0265   F231230010
3     20/06/2024 17:37:35  VN0265012006240097    VN0265   F231230003
4     20/06/2024 08:33:20  VN0265022006240053    VN0265   F240106001
...                   ...                 ...       ...          ...
3701  24/06/2024 12:34:53  VN0265022406240096    VN0265   F240215002
3702  24/06/2024 12:34:53  VN0265022406240096    VN0265   F240215002
3703  24/06/2024 09:29:49  VN0265022406240040    VN0265   F240215002
3704  24/06/2024 09:29:49  VN0265022406240040    VN0265   F240215002
3705  24/06/2024 09:29:49  VN0265022406240040    VN0265   F240215002

               employeeName                     storeName        barcode  \
0     Nguyễn Ngọc Huỳnh Như  GS25 Hoang Anh Thanh Binh_FC  8934564600838
1     Nguyễn Ngọc Huỳnh Như  GS25 Hoang Anh Thanh Binh_FC  2701020000091
2     Nguyễn Ngọc Huỳnh Như  GS25 Hoang Anh Thanh Binh_FC  2010103000010
3              Hồ Tuyết Nhi  GS25 Hoang Anh Thanh Binh_FC  6976611080066
4          nguyễn ngọc tuấn  GS25 Hoang Anh Thanh Binh_FC  2503020188829
...                     ...                           ...            ...
3701     HUỲNH THỊ KIM NGỌC  GS25 Hoang Anh Thanh Binh_FC  8935001715535
3702     HUỲNH THỊ KIM NGỌC  GS25 Hoang Anh Thanh Binh_FC  8934889240351
3703     HUỲNH THỊ KIM NGỌC  GS25 Hoang Anh Thanh Binh_FC  8936079140014
3704     HUỲNH THỊ KIM NGỌC  GS25 Hoang Anh Thanh Binh_FC  8938502525368
3705     HUỲNH THỊ KIM NGỌC  GS25 Hoang Anh Thanh Binh_FC  8850029015194

                                               itemName  qty  unitPrice  ...  \
0           C2 Trà xanh chanh tuyết bạc hà 455ml x chai    1      12000  ...
1                   HĐ Cơm nắm bò bulgogi phô mai x cái    1      20000  ...
2                                     Milo ly lớn x 1ly    1      25000  ...
3                         QNL Mayeef bánh phô mai x cái    1      17000  ...
4                                  Cà phê sữa GS25 x ly    1      20000  ...
...                                                 ...  ...        ...  ...
3701  CHUPA CHUPS Kẹo dẻo trái cay OilCrawlers 90g x...    1      28000  ...
3702      RAID Bình xịt côn trùng LAVENDER 300ML x Chai    1      59000  ...
3703                   HIGHLANDS Cà phê sữa 235ml x lon    2      18000  ...
3704           Bánh bao nhân thịt heo trứng muối xá xíu    1      29000  ...
3705        Nivea Nước tẩy trang sạch nhờn 200ml x chai    1     135000  ...

      requestInvoice  Ví VNPAY  Tiền VND  Ví MOMO  OCB-eBank  Ví ZaloPay  \
0                  0     32000         0        0          0         0.0
1                  0     32000         0        0          0         0.0
2                  0         0     25000        0          0         0.0
3                  0         0         0    17000          0         0.0
4                  0         0         0        0      33000         0.0
...              ...       ...       ...      ...        ...         ...
3701               0    111000         0        0          0         NaN
3702               0    111000         0        0          0         NaN
3703               0         0    200000        0          0         NaN
3704               0         0    200000        0          0         NaN
3705               0         0    200000        0          0         NaN

      e-Voucher  Grab Order  ShopeeFood  Membership
0           0.0           0         NaN         NaN
1           0.0           0         NaN         NaN
2           0.0           0         NaN         NaN
3           0.0           0         NaN         NaN
4           0.0           0         NaN         NaN
...         ...         ...         ...         ...
3701        0.0           0         NaN         NaN
3702        0.0           0         NaN         NaN
3703        0.0           0         NaN         NaN
3704        0.0           0         NaN         NaN
3705        0.0           0         NaN         NaN

[3706 rows x 27 columns]

In [26]:
# List out all unique employeeName values
print(combined_df['employeeName'].unique())

['Nguyễn Ngọc Huỳnh Như' 'Hồ Tuyết Nhi' 'nguyễn ngọc tuấn' 'Tằng Cắm Út'
 'Thi Đỗ Kim Thanh' 'Lê Thị Ngọc Ánh ' 'HUỲNH THỊ KIM NGỌC'
 'Dương Linh Chi']

In [27]:
# Function to sum "Tiền VND" for a specific employee on specific dates
def sum_tien_vnd(combined_df, employee_name, specific_dates):
    # Convert the invoiceDate to datetime format for filtering
    combined_df['invoiceDate'] = pd.to_datetime(combined_df['invoiceDate'], format='%d/%m/%Y %H:%M:%S')
    
    # Filter the DataFrame by the specific dates and employee name
    filtered_df = combined_df[
        (combined_df['invoiceDate'].dt.date.isin([pd.to_datetime(date).date() for date in specific_dates])) & 
        (combined_df['employeeName'].str.lower() == employee_name.lower())
    ]
    
    # Sum the "Tiền VND" column
    total_tien_vnd = filtered_df['Tiền VND'].sum()
    
    return total_tien_vnd

# Define the employee name and specific dates
employee_name = 'Nguyễn Ngọc Huỳnh Như'
specific_dates = ['20/06/2024', '']

# Calculate the total "Tiền VND" for the specified employee on the specified dates
total_tien_vnd = sum_tien_vnd(combined_df, employee_name, specific_dates)

# Change format of total_tien_vnd to xx.xxx.xxx
total_tien_vnd = '{:,.0f}'.format(total_tien_vnd)
print(f"Total 'Tiền VND' for {employee_name} on {', '.join(specific_dates)}: {total_tien_vnd}")

Total 'Tiền VND' for Nguyễn Ngọc Huỳnh Như on 20/06/2024, : 5,333,000

C:\Users\PC\AppData\Local\Temp\ipykernel_22356\3671490111.py:8: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  (combined_df['invoiceDate'].dt.date.isin([pd.to_datetime(date).date() for date in specific_dates])) &

In [28]:
# Create dataframe for invoiceDate, employeeName and total_tien_vnd
df_invoice = combined_df[['invoiceDate', 'employeeName', 'Tiền VND']]
df_invoice

             invoiceDate           employeeName  Tiền VND
0    2024-06-20 13:03:11  Nguyễn Ngọc Huỳnh Như         0
1    2024-06-20 13:03:11  Nguyễn Ngọc Huỳnh Như         0
2    2024-06-20 13:12:08  Nguyễn Ngọc Huỳnh Như     25000
3    2024-06-20 17:37:35           Hồ Tuyết Nhi         0
4    2024-06-20 08:33:20       nguyễn ngọc tuấn         0
...                  ...                    ...       ...
3701 2024-06-24 12:34:53     HUỲNH THỊ KIM NGỌC         0
3702 2024-06-24 12:34:53     HUỲNH THỊ KIM NGỌC         0
3703 2024-06-24 09:29:49     HUỲNH THỊ KIM NGỌC    200000
3704 2024-06-24 09:29:49     HUỲNH THỊ KIM NGỌC    200000
3705 2024-06-24 09:29:49     HUỲNH THỊ KIM NGỌC    200000

[3706 rows x 3 columns]

In [2]:
# Load ketca.csv to dataframe
# Import library
import pandas as pd

try:
    df_ketca = pd.read_excel(r'C:\Users\PC\Dropbox\Projects\github\Python\Python\Data Analysis\Store\ketca.xlsx')
except:
    df_ketca = pd.read_excel('/Users/trieupham/Dropbox/Projects/github/Python/Python/Data Analysis/Store/ketca.xlsx')
df_ketca

,invoiceDate,employeeName,Tiền VND,Payoo,Hệ thống,HT Payoo,Lệch
0,20/06/2024,Nguyễn Ngọc Huỳnh Như,1956.0,50.0,1956.0,50.0,0
1,20/06/2024,Hồ Tuyết Nhi,3600.0,200.0,3596.0,NaN,204
2,20/06/2024,nguyễn ngọc tuấn,873.0,NaN,891.0,NaN,-18
3,20/06/2024,Tằng Cắm Út,1298.0,NaN,1298.0,NaN,0
4,20/06/2024,Thi Đỗ Kim Thanh,NaN,NaN,NaN,NaN,0
5,20/06/2024,Lê Thị Ngọc Ánh,NaN,NaN,NaN,NaN,0
6,20/06/2024,HUỲNH THỊ KIM NGỌC,NaN,NaN,NaN,NaN,0
7,20/06/2024,Dương Linh Chi,NaN,NaN,NaN,NaN,0
8,21/06/2024,Nguyễn Ngọc Huỳnh Như,1873.0,20.0,1761.0,20.0,112
9,21/06/2024,Hồ Tuyết Nhi,NaN,NaN,NaN,NaN,0
10,21/06/2024,nguyễn ngọc tuấn,NaN,NaN,NaN,NaN,0
11,21/06/2024,Tằng Cắm Út,NaN,NaN,NaN,NaN,0
12,21/06/2024,Thi Đỗ Kim Thanh,3396.0,NaN,3142.0,NaN,254
13,21/06/2024,Lê Thị Ngọc Ánh,2894.0,560.0,3022.0,540.0,-108
14,21/06/2024,HUỲNH THỊ KIM NGỌC,1570.0,150.0,1571.0,150.0,-1
15,21/06/2024,Dương Linh Chi,NaN,NaN,NaN,NaN,0
16,22/06/2024,Nguyễn Ngọc Huỳnh Như,NaN,NaN,NaN,NaN,0
17,22/06/2024,Hồ Tuyết Nhi,NaN,NaN,NaN,NaN,0
18,22/06/2024,nguyễn ngọc tuấn,NaN,NaN,NaN,NaN,0
19,22/06/2024,Tằng Cắm Út,1314.0,200.0,1406.0,200.0,-92
20,22/06/2024,Thi Đỗ Kim Thanh,4182.0,20.0,6059.0,20.0,-1877
21,22/06/2024,Lê Thị Ngọc Ánh,NaN,NaN,NaN,NaN,0
22,22/06/2024,HUỲNH THỊ KIM NGỌC,NaN,NaN,NaN,NaN,0
23,22/06/2024,Dương Linh Chi,907.0,NaN,904.0,NaN,3
24,23/06/2024,Nguyễn Ngọc Huỳnh Như,NaN,NaN,NaN,NaN,0
25,23/06/2024,Hồ Tuyết Nhi,1035.0,300.0,1064.0,300.0,-29
26,23/06/2024,nguyễn ngọc tuấn,NaN,NaN,NaN,NaN,0
27,23/06/2024,Tằng Cắm Út,1528.0,220.0,1805.0,220.0,-277
28,23/06/2024,Thi Đỗ Kim Thanh,1824.0,NaN,3005.0,NaN,-1181
29,23/06/2024,Lê Thị Ngọc Ánh,NaN,NaN,NaN,NaN,0
30,23/06/2024,HUỲNH THỊ KIM NGỌC,NaN,NaN,NaN,NaN,0
31,23/06/2024,Dương Linh Chi,1711.0,190.0,1711.0,190.0,0
32,24/06/2024,Hồ Tuyết Nhi,1844.0,1500.0,1865.0,1500.0,-21
33,24/06/2024,Tằng Cắm Út,5052.0,NaN,5063.0,NaN,-11
34,24/06/2024,Thi Đỗ Kim Thanh,1152.0,800.0,1805.0,800.0,-653
35,24/06/2024,HUỲNH THỊ KIM NGỌC,3556.0,NaN,3398.0,NaN,158
36,25/06/2024,nguyễn ngọc tuấn,1810.0,NaN,1820.0,NaN,-10
37,25/06/2024,Lê Thị Hoài,1246.0,NaN,1247.0,NaN,-1
38,25/06/2024,Huỳnh Thị Trà Mi,2359.0,NaN,2359.0,NaN,0
39,25/06/2024,Hồ Tuyết Nhi,985.0,NaN,985.0,NaN,0

In [8]:
import pandas as pd


# Group the data by 'employeeName' and sum the 'Lệch' column for each employee
lech_sum_by_employee = df_ketca.groupby('employeeName')['Lệch'].sum()

# Print the result
print("employeeName, Lệch")
for employee, lech_sum in lech_sum_by_employee.items():
    print(f"{employee}, {lech_sum}")
# Export the result to excel file 


lech_sum_by_employee.to_csv('lech_sum_by_employee.csv', encoding='utf-8', header=True)

employeeName, Lệch
Dương Linh Chi, 3
HUỲNH THỊ KIM NGỌC, 157
Huỳnh Thị Trà Mi, 0
Hồ Tuyết Nhi, 154
Lê Thị Hoài, -1
Lê Thị Ngọc Ánh, -108
Nguyễn Ngọc Huỳnh Như, 112
Thi Đỗ Kim Thanh, -3457
Tằng Cắm Út, -380
nguyễn ngọc tuấn, -28