In [2]:
import numpy as np
import pandas as pd
#The Machine learning alogorithm
from sklearn.ensemble import RandomForestClassifier
# Just to switch off pandas warning
pd.options.mode.chained_assignment = None

In [3]:
data = pd.read_csv("titanic_train.csv",error_bad_lines=False)
data.head()

E:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,0,998,999,3rd,1,"McCarthy, Miss Katie",NaN,NaN,NaN,NaN,NaN,NaN,female
1,1,179,180,1st,0,"Millet, Mr Francis Davis",65.0,Southampton,"East Bridgewater, MA",NaN,NaN,-249.0,male
2,2,556,557,2nd,0,"Sjostedt, Mr Ernst Adolf",59.0,Southampton,"Sault St Marie, ON",NaN,NaN,NaN,male
3,3,174,175,1st,0,"McCaffry, Mr Thomas Francis",46.0,Cherbourg,"Vancouver, BC",NaN,NaN,-292.0,male
4,4,1232,1233,3rd,0,"Strilic, Mr Ivan",NaN,NaN,NaN,NaN,NaN,NaN,male

In [8]:
import os
os.getcwd()

'C:\\Users\\Trieu Pham\\OneDrive - BTM Global Consulting\\Projects\\python_projects\\Machine Learning'

In [23]:
median_age = data['age'].mean()
print('Median age is {}'.format(median_age))

Median age is 56.666666666666664

In [16]:
data['age'].std()

9.71253485622231

In [20]:
data['age'].fillna(median_age, inplace = True)
data['age'].head()

0    56.666667
1    65.000000
2    59.000000
3    46.000000
4    56.666667
Name: age, dtype: float64