In [10]:
### Import libraries
import pandas as pd
def exportlog():
    import sys

    log_file = 'error.log'

    # Redirect the error output to the log file
    sys.stderr = open(log_file, 'w')

    # Your code goes here

    # Reset the error output to the console
    sys.stderr = sys.__stderr__
pass
# def excel2csv
def DataCate(CateFileDir):
    """
    Read DataCate.xlsx file
    CateFileDir: the directory of DataCate.xlsx file
    Return: df_cate
    """
    df_cate = pd.read_excel(CateFileDir,sheet_name='Sheet1', usecols=[0,2,3], skiprows=0)
    return df_cate
pass

def DataPayment(df_cate , input_files_dir, output_file_name ,output_file_dir):
    """
    Read DataPayment folder and merge all excel files into one dataframe
    df_cate: dataframe
    input_files_dir: the directory of DataPayment folder
    output_file_name: the name of csv file
    output_file_dir: the directory of csv file
    
    Return: Exported to csv file
    """
    import os
    import glob
    # Get the list of excel files in the source folder
    # Recursively search for Excel files in the folder and subfolders
    excel_files = glob.glob(os.path.join(input_files_dir, "**/*.xlsx"), recursive=True)
    # Check if DataCate.xlsx file exists in excel_files then remove it from payment data
    if os.path.join(input_files_dir, "DataCate.xlsx") in excel_files:
        excel_files.remove(os.path.join(input_files_dir, "DataCate.xlsx"))
    # Check how many files in excel_files
    print(f'There are {len(excel_files)} excel files in {input_files_dir}')
    
    
    # Loop through the list of excel files
    for file in excel_files:
        # print access file name
        try:
            # Read the excel file
            temp_df  = pd.read_excel(file, 'Sheet2', usecols=[0,2,4,6,7], skiprows=2)
            
            temp_df = temp_df.merge(df_cate, on='Barcode', how='left')

            # To csv file
            ToCsv(temp_df, output_file_name, output_file_dir)
        except:
            print(f'Error reading file: {file}')
pass

def ToCsv(df, filename, dir):
    """
    Write dataframe to csv file
    df: dataframe
    filename: the name of csv file
    dir: the directory of csv file
    """
    
    import os
    # Read the first line of the file
    output_file = os.path.join( dir , filename + '.csv')
    # Check if the file already exists
    if not os.path.isfile(output_file):
        # If not, create a new file and add the header
        df.to_csv(output_file, index=False)
    with open(output_file, 'r') as f:
        first_line = f.readline().strip()
    # Check if the first line contains the expected column names
    has_headers = 'InvoiceID' in first_line
    df.to_csv(output_file ,mode ='a', header = not has_headers, index=False)

In [11]:
exportlog()
import configparser
config = configparser.ConfigParser()
config_file = 'config.ini'
config.read(config_file)
### Read DataPayment.xlsx file and return a DataCategory dataframe
cateFileDir = config.get('path', 'cateFileDir')
df_cate = DataCate(cateFileDir)
df_cate

              Barcode            Category Name     SubCategory Name
0      9555715 201187                  Hot pot         Hot pot Thai
1      9555715 200067                  Hot pot         Hot pot Thai
2      8935282 907940  Raw Material & Packages         Raw material
3      8935282 900651  Raw Material & Packages         Raw material
4      7804350 046687                     Wine  Table/Varietal Wine
...               ...                      ...                  ...
18598        07461381           Vegetables Cat       Vegetables Sub
18599        07180000           Vegetables Cat       Vegetables Sub
18600         5001019              Dessert Cat          Dessert Sub
18601         2171586              Frozen meat      Frozen meat Sub
18602        02171586              Frozen meat      Frozen meat Sub

[18603 rows x 3 columns]

In [12]:
input_files_dir = config.get('path', 'input_files_dir')
output_file_name = config.get('path', 'output_file_name')
output_file_dir = config.get('path', 'output_file_dir')

DataPayment(df_cate, input_files_dir, output_file_name, output_file_dir)

There are 120 excel files in C:\Users\Trieu Pham\OneDrive - BTM Global Consulting\Projects\data xls

In [13]:
### Test read csv file

# data_file = output_file_dir + '\\' + output_file_name + '.csv'
# df = pd.read_csv(data_file)

# df

,StoreID,Date,InvoiceID,ItemName,Barcode,Category Name,SubCategory Name
0,VN0001,2023-01-01,VN0001010101230001,DASANI NÆ°á»›c khoÃ¡ng 510ml x1 Chai,8935049500544,Bottled Water,Mineral water
1,VN0001,2023-01-01,VN0001010101230002,SATORI NÆ°á»›c tinh khiáº¿t 500ml x 1 Chai,8938512632025,Bottled Water,Purified water
2,VN0001,2023-01-01,VN0001010101230003,Celano Kem BÃ¡nh CÃ¡ TrÃ¢n ChÃ¢u Dá»«a Táº¯c 70g * 1 cÃ¢y,8936011773416,Packaged Ice Cream/Novelties,Other Ice Cream
3,VN0001,2023-01-01,VN0001010101230003,LAYS WAVY Khoai tÃ¢y bÃ² Texas 63g x gÃ³i,8936079121761,Potato Chips,Potato Snacks
4,VN0001,2023-01-01,VN0001010101230003,MILO Kem que Magma 55g x1 CÃ¢y,8850453017528,Packaged Ice Cream/Novelties,Stick
...,...,...,...,...,...,...,...
21308938,VN0243,2023-04-30,VN0243023004230049,CÆ¡m náº¯m bÃ² bulgogi phÃ´ mai x cÃ¡i,2701020000091,NaN,NaN
21308939,VN0243,2023-04-30,VN0243023004230049,CÆ¡m náº¯m kim chi phÃ´ mai,2270102000361,Rice Offsite,Onigiri
21308940,VN0243,2023-04-30,VN0243023004230049,FUZE TEA+ TrÃ Chanh vá»›i Sáº£ 450ml x 1 Chai,8935049501190,Tea,Sugar Tea
21308941,VN0243,2023-04-30,VN0243023004230049,FUZETEA+ TrÃ Ä‘Ã o háº¡t chia 450ml x 1 Chai,8935049500698,Tea,Sugar Tea
21308942,VN0243,2023-04-30,VN0243023004230049,THMILK NÆ°á»›c Uá»‘ng Sá»¯a Vá»‹ Viá»‡t Quáº¥t 300ml x 1 chai,8936127794206,Flavored Milk,Flavored Milk Sub