In [2]:
import pandas as pd
import configparser
import os

# Read the value from the config.ini file
config = configparser.ConfigParser()
config.read('config.ini')
output_file_dir = config.get('path', 'output_file_dir')
output_file_name_net_sales = config.get('path', 'output_file_name_net_sales')
cateFileDir = config.get('path', 'cateFileDir')
# Read the category file
try:
    df_cate = pd.read_excel(cateFileDir)
except FileNotFoundError as e:
    try:
        df_cate = pd.read_excel(r"/Users/trieupham/Library/CloudStorage/OneDrive-BTMGlobalConsulting/Projects/data xls/DataCate.xlsx")
    except FileNotFoundError as e:
        df_cate = pd.read_excel(r"C:\Users\Trieu.Pham\OneDrive - BTM Global Consulting\Projects\data xls\DataCate.xlsx")
# using os.path.join() method
# output_file_dir = os.path.join(output_file_dir, 'outputFile')
net_sales_data = os.path.join(output_file_dir, output_file_name_net_sales) + '.csv'
# Read the csv file
# input_file should be the path to the merge csv file
try:
    input_file = net_sales_data
    df = pd.read_csv(input_file)
except FileNotFoundError as e:
    try:
        # Using the path to the csv file for mac os
        input_file = r"/Users/trieupham/Library/CloudStorage/OneDrive-BTMGlobalConsulting/Projects/data csv/outputFile/dataNetsales.csv"
        df = pd.read_csv(input_file)
    except FileNotFoundError as e:
        # Using the path to the csv file for windows
        input_file = r"C:\Users\Trieu.Pham\OneDrive - BTM Global Consulting\Projects\data csv\outputFile\dataNetsales.csv"
        df = pd.read_csv(input_file)
df.dropna(inplace=True)

In [3]:
df_cate

,Barcode,Division Name,Category Name,SubCategory Name
0,9555715 201187,FF Onsite,Hot pot,Hot pot Thai
1,9555715 200067,FF Onsite,Hot pot,Hot pot Thai
2,8935282 907940,FoodService,Raw Material & Packages,Raw material
3,8935282 900651,FoodService,Raw Material & Packages,Raw material
4,7804350 046687,Wine&Liquor,Wine,Table/Varietal Wine
...,...,...,...,...
18598,07461381,Fresh Grocery,Vegetables Cat,Vegetables Sub
18599,07180000,Fresh Grocery,Vegetables Cat,Vegetables Sub
18600,5001019,Dessert,Dessert Cat,Dessert Sub
18601,2171586,Frozen Food,Frozen meat,Frozen meat Sub
18602,02171586,Frozen Food,Frozen meat,Frozen meat Sub

In [4]:
df

,Date,Time,InvoiceID,Barcode,Total Include VAT
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,7000.0
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,12000.0
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,25000.0
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,13000.0
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,13000.0
...,...,...,...,...,...
68978410,2023-07-05,18:58:59,VN0061010507230308,8935250402019,48000.0
68978411,2023-07-05,13:02:59,VN0061010507230185,8934803071085,13000.0
68978412,2023-07-05,09:15:59,VN0061010507230092,8935090910873,36000.0
68978413,2023-07-05,09:15:59,VN0061010507230092,8935005800015,12000.0
68978414,2023-07-05,09:15:59,VN0061010507230092,2120201000017,9000.0

In [8]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df

,Date,Time,InvoiceID,Barcode,Total Include VAT
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,7000.0
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,12000.0
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,25000.0
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,13000.0
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,13000.0
...,...,...,...,...,...
68978410,2023-07-05,18:58:59,VN0061010507230308,8935250402019,48000.0
68978411,2023-07-05,13:02:59,VN0061010507230185,8934803071085,13000.0
68978412,2023-07-05,09:15:59,VN0061010507230092,8935090910873,36000.0
68978413,2023-07-05,09:15:59,VN0061010507230092,8935005800015,12000.0
68978414,2023-07-05,09:15:59,VN0061010507230092,2120201000017,9000.0

In [9]:
# # Merge df and df_cate
# df = df.merge(df_cate, on='Barcode', how='left')

# df

In [10]:
# Add new column StoreID (first 6 digits of InvoiceID)
df['StoreID'] = df['InvoiceID'].str[:6]

In [11]:
df_filter = df[df['InvoiceID'] == 'VN0001010101230001']

df_filter

,Date,Time,InvoiceID,Barcode,Total Include VAT,StoreID
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,7000.0,VN0001

In [12]:
# # Group by InvoiceID and calculate the sum of Total Include VAT for each group
df_grouped = df.groupby('InvoiceID', as_index=False).agg({
    'StoreID': 'first',
    'Date': 'first',
    'Time': 'first',
    'Barcode': 'first',
    'Total Include VAT': 'sum'
})

# # Function to get Time Range for each Time value
# def get_time_range(time_str):
#     hour = int(time_str[:2])
#     time_range_start = f"{hour:02}:00"
#     time_range_end = f"{hour:02}:59"
#     return f"{time_range_start}-{time_range_end}"

# # Add new column Time Range
# df_grouped['Time Range'] = df_grouped['Time'].apply(get_time_range)

# df_grouped

In [13]:
from datetime import datetime

# Function to convert time string to a proper time format
def convert_to_time(time_str):
    try:
        return datetime.strptime(time_str, '%H:%M:%S').strftime('%H:%M')
    except ValueError:
        return None

# Function to get Time Range for each Time value
def get_time_range(time_str):
    time_str = convert_to_time(time_str)
    if time_str is None:
        return None
    hour = int(time_str[:2])
    time_range_start = f"{hour:02}:00"
    time_range_end = f"{hour:02}:59"
    return f"{time_range_start}-{time_range_end}"

# Add new column Time Range
df_grouped['Time Range'] = df_grouped['Time'].apply(get_time_range)
df_grouped

,InvoiceID,StoreID,Date,Time,Barcode,Total Include VAT,Time Range
0,VN0001010101230001,VN0001,2023-01-01,00:40:59,8935049500544,7000.0,00:00-00:59
1,VN0001010101230002,VN0001,2023-01-01,00:41:18,8938512632025,12000.0,00:00-00:59
2,VN0001010101230003,VN0001,2023-01-01,00:41:55,8936011773416,115000.0,00:00-00:59
3,VN0001010101230004,VN0001,2023-01-01,00:43:12,8801100128845,191000.0,00:00-00:59
4,VN0001010101230005,VN0001,2023-01-01,00:44:22,8934588843051,26000.0,00:00-00:59
...,...,...,...,...,...,...,...
15597313,VN9996023101230489,VN9996,2023-01-31,23:10:23,8936079121822,175000.0,23:00-23:59
15597314,VN9996023101230490,VN9996,2023-01-31,23:11:47,8935112200005,13000.0,23:00-23:59
15597315,VN9996023101230491,VN9996,2023-01-31,23:12:41,2010101000005,3000.0,23:00-23:59
15597316,VN9996023101230492,VN9996,2023-01-31,23:12:56,8936031835118,47000.0,23:00-23:59
15597317,VN9996023101230493,VN9996,2023-01-31,23:13:25,8802876204603,358000.0,23:00-23:59

In [14]:
# Create a pivot table to get the matrix representation
pivot_table_total = df_grouped.pivot_table(index=['StoreID','Date'], columns='Time Range', values='Total Include VAT', aggfunc='sum')
pivot_table_total = pivot_table_total.applymap("{:,.0f}".format)

pivot_table_total

# Save the pivot table to csv file
# pivot_table_total.to_csv('TotalPerHour.csv')

Time Range         00:00-00:59 01:00-01:59 02:00-02:59 03:00-03:59
StoreID Date
VN0001  2023-01-01   3,767,000   4,185,000     728,000     273,000  \
        2023-01-02     176,000     356,000     201,000     334,000
        2023-01-03     496,000     446,000     129,000     106,000
        2023-01-04     392,000     689,000      86,000         nan
        2023-01-05     416,000     143,000     224,000     114,000
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan         nan         nan
        2023-01-29         nan         nan         nan         nan
        2023-01-30         nan         nan         nan         nan
        2023-01-31         nan         nan         nan         nan
        2023-02-01         nan         nan         nan         nan

Time Range         04:00-04:59 05:00-05:59 06:00-06:59 07:00-07:59
StoreID Date
VN0001  2023-01-01      66,000     126,000     371,000     451,000  \
        2023-01-02     218,000      22,000     319,000     393,000
        2023-01-03      66,000     239,000     539,000   2,179,000
        2023-01-04      76,000     623,000     467,000   2,745,000
        2023-01-05     278,000       6,000   1,064,000   2,406,000
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan      82,000     394,000
        2023-01-29         nan         nan         nan     162,000
        2023-01-30         nan         nan      82,000     374,000
        2023-01-31         nan         nan     144,000     117,000
        2023-02-01         nan         nan         nan     161,000

Time Range         08:00-08:59 09:00-09:59  ... 14:00-14:59 15:00-15:59
StoreID Date                                ...
VN0001  2023-01-01     243,000     653,000  ...   1,561,000     632,000  \
        2023-01-02     569,000     550,000  ...   1,260,000     459,000
        2023-01-03   3,356,000   1,604,000  ...   1,153,000   2,018,000
        2023-01-04   3,318,000   2,476,000  ...     935,200   1,903,000
        2023-01-05   4,623,000   2,333,000  ...   1,825,000   1,648,000
...                        ...         ...  ...         ...         ...
VN9996  2023-01-28   1,147,000     699,000  ...     836,000   2,682,000
        2023-01-29   1,555,000   1,355,000  ...     695,000   1,648,000
        2023-01-30     714,000     948,000  ...     503,000   1,039,000
        2023-01-31     420,000     155,000  ...     319,000     958,000
        2023-02-01     524,000     656,000  ...     468,000   1,381,000

Time Range         16:00-16:59 17:00-17:59 18:00-18:59 19:00-19:59
StoreID Date
VN0001  2023-01-01     751,000   1,950,000     794,000     763,000  \
        2023-01-02   1,175,000     472,000     343,000     367,000
        2023-01-03   1,652,000   2,272,000   1,213,000   1,357,000
        2023-01-04   1,661,000   2,384,000   1,199,300   1,545,000
        2023-01-05   1,745,000   2,232,000   3,396,000   1,922,000
...                        ...         ...         ...         ...
VN9996  2023-01-28   3,178,000   3,658,000   3,685,000   3,803,000
        2023-01-29   2,644,000   3,702,000   4,032,000   4,098,000
        2023-01-30   2,838,000   3,150,000   2,305,000   3,108,000
        2023-01-31   1,825,000   2,676,000   2,710,000   2,391,000
        2023-02-01   1,569,000         nan         nan         nan

Time Range         20:00-20:59 21:00-21:59 22:00-22:59 23:00-23:59
StoreID Date
VN0001  2023-01-01   1,573,000   1,691,000   2,327,000   1,544,000
        2023-01-02     848,000   1,173,000   1,012,000     660,000
        2023-01-03   1,214,000   1,272,000     807,000     363,000
        2023-01-04     837,000     493,000   1,046,000     966,000
        2023-01-05   1,196,000   1,579,000   1,624,000     679,000
...                        ...         ...         ...         ...
VN9996  2023-01-28   4,017,000   4,114,000   3,396,000     515,000
        2023-01-29   3,993,000   3,901,000   2,645,000     173,000
        2023-01-30   3,444,000   2,847,000   2,847,000     205,000
        2023-01-31   4,012,000   3,770,000   2,367,000     909,000
        2023-02-01         nan         nan         nan         nan

[40606 rows x 24 columns]

In [15]:
# Save the pivot table to csv file
pivot_table_total.to_csv('TotalPerHour.csv')

In [16]:
# Create a pivot table to group the data by 'StoreID', 'WeekDay', and 'Time Range'
pivot_table_bill = df_grouped.pivot_table(index=['StoreID', 'Date'], columns='Time Range', values='InvoiceID', aggfunc=pd.Series.nunique, fill_value=0)


# Display the updated DataFrame
pivot_table_bill


# Save the pivot table to csv file
# pivot_table_bill.to_csv('BillPerHour.csv')

Time Range          00:00-00:59  01:00-01:59  02:00-02:59  03:00-03:59
StoreID Date
VN0001  2023-01-01           65           80           12            7  \
        2023-01-02            4            3            4            3
        2023-01-03            8            5            5            1
        2023-01-04            8            6            2            0
        2023-01-05            4            4            2            4
...                         ...          ...          ...          ...
VN9996  2023-01-28            0            0            0            0
        2023-01-29            0            0            0            0
        2023-01-30            0            0            0            0
        2023-01-31            0            0            0            0
        2023-02-01            0            0            0            0

Time Range          04:00-04:59  05:00-05:59  06:00-06:59  07:00-07:59
StoreID Date
VN0001  2023-01-01            2            3            9            6  \
        2023-01-02            6            2           11           14
        2023-01-03            2            3           18           78
        2023-01-04            1           11           18           83
        2023-01-05            2            1           26           86
...                         ...          ...          ...          ...
VN9996  2023-01-28            0            0            3           13
        2023-01-29            0            0            0            4
        2023-01-30            0            0            2           13
        2023-01-31            0            0            2            5
        2023-02-01            0            0            0            8

Time Range          08:00-08:59  09:00-09:59  ...  14:00-14:59  15:00-15:59
StoreID Date                                  ...
VN0001  2023-01-01            9           17  ...           21           15  \
        2023-01-02           15            9  ...           20           13
        2023-01-03           95           54  ...           31           49
        2023-01-04           99           73  ...           26           42
        2023-01-05          112           66  ...           37           41
...                         ...          ...  ...          ...          ...
VN9996  2023-01-28           19           15  ...           29           56
        2023-01-29           44           38  ...           21           44
        2023-01-30           18           25  ...           11           29
        2023-01-31           14            5  ...            9           34
        2023-02-01           15           19  ...           17           26

Time Range          16:00-16:59  17:00-17:59  18:00-18:59  19:00-19:59
StoreID Date
VN0001  2023-01-01           17           19           24           14  \
        2023-01-02           26           11           14           14
        2023-01-03           41           48           35           28
        2023-01-04           44           53           28           21
        2023-01-05           52           33           22           31
...                         ...          ...          ...          ...
VN9996  2023-01-28           74           81           85           97
        2023-01-29           70           79          101           85
        2023-01-30           64           83           63           70
        2023-01-31           48           58           69           64
        2023-02-01           32            0            0            0

Time Range          20:00-20:59  21:00-21:59  22:00-22:59  23:00-23:59
StoreID Date
VN0001  2023-01-01           19           25           23           11
        2023-01-02           11           18           25           14
        2023-01-03           25           15           10           10
        2023-01-04           22           11           20           14
        2023-01-05           25           18           24           11
...                         ...          ...          ...          ...
VN9996  2023-01-28           84           84           66           13
        2023-01-29           83           87           59            3
        2023-01-30           87           59           61            6
        2023-01-31           80           88           56           12
        2023-02-01            0            0            0            0

[40606 rows x 24 columns]

In [17]:
# Replace non-numeric values (strings) with NaN in pivot_table_total and pivot_table_bill
pivot_table_total_numeric = pivot_table_total.applymap(lambda x: float(x.replace(',', '')) if isinstance(x, str) else np.nan)
pivot_table_bill_numeric = pivot_table_bill.applymap(float)

# Perform element-wise division between pivot_table_total_numeric and pivot_table_bill_numeric
result_df = pivot_table_total_numeric.div(pivot_table_bill_numeric)

# If you want to format the result as well, you can apply the formatting here
result_df = result_df.applymap("{:,.0f}".format)

# Display the resulting DataFrame
print(result_df)

Time Range         00:00-00:59 01:00-01:59 02:00-02:59 03:00-03:59
StoreID Date
VN0001  2023-01-01      57,954      52,312      60,667      39,000  \
        2023-01-02      44,000     118,667      50,250     111,333
        2023-01-03      62,000      89,200      25,800     106,000
        2023-01-04      49,000     114,833      43,000         nan
        2023-01-05     104,000      35,750     112,000      28,500
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan         nan         nan
        2023-01-29         nan         nan         nan         nan
        2023-01-30         nan         nan         nan         nan
        2023-01-31         nan         nan         nan         nan
        2023-02-01         nan         nan         nan         nan

Time Range         04:00-04:59 05:00-05:59 06:00-06:59 07:00-07:59
StoreID Date
VN0001  2023-01-01      33,000      42,000      41,222      75,167  \
        2023-01-02      36,333      11,000      29,000      28,071
        2023-01-03      33,000      79,667      29,944      27,936
        2023-01-04      76,000      56,636      25,944      33,072
        2023-01-05     139,000       6,000      40,923      27,977
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan      27,333      30,308
        2023-01-29         nan         nan         nan      40,500
        2023-01-30         nan         nan      41,000      28,769
        2023-01-31         nan         nan      72,000      23,400
        2023-02-01         nan         nan         nan      20,125

Time Range         08:00-08:59 09:00-09:59  ... 14:00-14:59 15:00-15:59
StoreID Date                                ...
VN0001  2023-01-01      27,000      38,412  ...      74,333      42,133  \
        2023-01-02      37,933      61,111  ...      63,000      35,308
        2023-01-03      35,326      29,704  ...      37,194      41,184
        2023-01-04      33,515      33,918  ...      35,969      45,310
        2023-01-05      41,277      35,348  ...      49,324      40,195
...                        ...         ...  ...         ...         ...
VN9996  2023-01-28      60,368      46,600  ...      28,828      47,893
        2023-01-29      35,341      35,658  ...      33,095      37,455
        2023-01-30      39,667      37,920  ...      45,727      35,828
        2023-01-31      30,000      31,000  ...      35,444      28,176
        2023-02-01      34,933      34,526  ...      27,529      53,115

Time Range         16:00-16:59 17:00-17:59 18:00-18:59 19:00-19:59
StoreID Date
VN0001  2023-01-01      44,176     102,632      33,083      54,500  \
        2023-01-02      45,192      42,909      24,500      26,214
        2023-01-03      40,293      47,333      34,657      48,464
        2023-01-04      37,750      44,981      42,832      73,571
        2023-01-05      33,558      67,636     154,364      62,000
...                        ...         ...         ...         ...
VN9996  2023-01-28      42,946      45,160      43,353      39,206
        2023-01-29      37,771      46,861      39,921      48,212
        2023-01-30      44,344      37,952      36,587      44,400
        2023-01-31      38,021      46,138      39,275      37,359
        2023-02-01      49,031         nan         nan         nan

Time Range         20:00-20:59 21:00-21:59 22:00-22:59 23:00-23:59
StoreID Date
VN0001  2023-01-01      82,789      67,640     101,174     140,364
        2023-01-02      77,091      65,167      40,480      47,143
        2023-01-03      48,560      84,800      80,700      36,300
        2023-01-04      38,045      44,818      52,300      69,000
        2023-01-05      47,840      87,722      67,667      61,727
...                        ...         ...         ...         ...
VN9996  2023-01-28      47,821      48,976      51,455      39,615
        2023-01-29      48,108      44,839      44,831      57,667
        2023-01-30      39,586      48,254      46,672      34,167
        2023-01-31      50,150      42,841      42,268      75,750
        2023-02-01         nan         nan         nan         nan

[40606 rows x 24 columns]

In [18]:
# Group data by 'Time Range', 'StoreID', and 'Barcode', and calculate the count of each barcode in each group
barcode_counts = df_grouped.groupby(['Time Range', 'StoreID', 'Barcode']).size().reset_index(name='Count')

# Sort the data by the count in descending order
sorted_barcode_counts = barcode_counts.sort_values(by='Count', ascending=False)

# Get the top 10 barcodes with the highest counts
top_10_barcodes = sorted_barcode_counts.head(10)

print(top_10_barcodes)

          Time Range StoreID        Barcode  Count
1742154  12:00-12:59  VN0134  2010101000005   2549
2120718  14:00-14:59  VN0134  2010101000005   2385
1093842  09:00-09:59  VN0060  8934588063053   2026
1742557  12:00-12:59  VN0134  8934588063053   1901
1675299  12:00-12:59  VN0060  8934588063053   1725
2121181  14:00-14:59  VN0134  8934588063053   1662
734314   07:00-07:59  VN0036  2010101000005   1460
1131234  09:00-09:59  VN0103  8934588063053   1453
2247033  15:00-15:59  VN0060  8934588063053   1425
971402   08:00-08:59  VN0134  8934588063053   1393

In [19]:
df_grouped

,InvoiceID,StoreID,Date,Time,Barcode,Total Include VAT,Time Range
0,VN0001010101230001,VN0001,2023-01-01,00:40:59,8935049500544,7000.0,00:00-00:59
1,VN0001010101230002,VN0001,2023-01-01,00:41:18,8938512632025,12000.0,00:00-00:59
2,VN0001010101230003,VN0001,2023-01-01,00:41:55,8936011773416,115000.0,00:00-00:59
3,VN0001010101230004,VN0001,2023-01-01,00:43:12,8801100128845,191000.0,00:00-00:59
4,VN0001010101230005,VN0001,2023-01-01,00:44:22,8934588843051,26000.0,00:00-00:59
...,...,...,...,...,...,...,...
15597313,VN9996023101230489,VN9996,2023-01-31,23:10:23,8936079121822,175000.0,23:00-23:59
15597314,VN9996023101230490,VN9996,2023-01-31,23:11:47,8935112200005,13000.0,23:00-23:59
15597315,VN9996023101230491,VN9996,2023-01-31,23:12:41,2010101000005,3000.0,23:00-23:59
15597316,VN9996023101230492,VN9996,2023-01-31,23:12:56,8936031835118,47000.0,23:00-23:59
15597317,VN9996023101230493,VN9996,2023-01-31,23:13:25,8802876204603,358000.0,23:00-23:59

In [20]:
import pandas as pd

# Sample DataFrame (you already have this, no need to run this line)
# df_grouped = ...

# Step 1: Filter rows with 'Time Range' equal to '00:00-00:59'
df_filtered = df_grouped[df_grouped['Time Range'] == '00:00-00:59']

# Step 2-4: Group by 'StoreID', 'Date', and 'Barcode' and count occurrences
barcode_counts = df_filtered.groupby(['StoreID', 'Date', 'Barcode']).size().reset_index(name='Count')

# Step 5: Get the top 10 barcodes for each 'StoreID' and 'Date'
top_10_barcodes = barcode_counts.groupby(['StoreID', 'Date']).apply(lambda x: x.nlargest(10, 'Count')).reset_index(drop=True)

# Add the 'Rank' column
top_10_barcodes['Rank'] = top_10_barcodes.groupby(['StoreID', 'Date'])['Count'].rank(ascending=False, method='first')

# Optional: Set the index to 'StoreID', 'Date', and 'Rank' for better presentation
top_10_barcodes.set_index(['StoreID', 'Date', 'Rank'], inplace=True)

# Display the top 10 barcodes for the time range "00:00-00:59"
print(top_10_barcodes)

                               Barcode  Count
StoreID Date       Rank
VN0001  2023-01-01 1.0   8938512632025      4
                   2.0   2010101000005      3
                   3.0   8934588843051      3
                   4.0   8935049500544      3
                   5.0   8935049501503      3
...                                ...    ...
VN9996  2023-01-22 5.0   8935049510864      1
                   6.0   8936079123253      1
                   7.0   8938502525344      1
        2023-01-24 1.0   2010403000055      1
                   2.0   2010403000062      1

[305994 rows x 2 columns]

In [21]:
# Backup df_grouped to df_grouped_bk
df_grouped_bk = df_grouped

df_grouped_bk

,InvoiceID,StoreID,Date,Time,Barcode,Total Include VAT,Time Range
0,VN0001010101230001,VN0001,2023-01-01,00:40:59,8935049500544,7000.0,00:00-00:59
1,VN0001010101230002,VN0001,2023-01-01,00:41:18,8938512632025,12000.0,00:00-00:59
2,VN0001010101230003,VN0001,2023-01-01,00:41:55,8936011773416,115000.0,00:00-00:59
3,VN0001010101230004,VN0001,2023-01-01,00:43:12,8801100128845,191000.0,00:00-00:59
4,VN0001010101230005,VN0001,2023-01-01,00:44:22,8934588843051,26000.0,00:00-00:59
...,...,...,...,...,...,...,...
15597313,VN9996023101230489,VN9996,2023-01-31,23:10:23,8936079121822,175000.0,23:00-23:59
15597314,VN9996023101230490,VN9996,2023-01-31,23:11:47,8935112200005,13000.0,23:00-23:59
15597315,VN9996023101230491,VN9996,2023-01-31,23:12:41,2010101000005,3000.0,23:00-23:59
15597316,VN9996023101230492,VN9996,2023-01-31,23:12:56,8936031835118,47000.0,23:00-23:59
15597317,VN9996023101230493,VN9996,2023-01-31,23:13:25,8802876204603,358000.0,23:00-23:59

In [22]:
# import pandas as pd

# # Sample DataFrame (you already have this, no need to run this line)
# # df_grouped = ...

# # Function to convert time string to a proper time format
# def convert_to_time(time_str):
#     try:
#         return datetime.strptime(time_str, '%H:%M:%S').strftime('%H:%M')
#     except ValueError:
#         return None

# # Function to get Time Range for each Time value
# def get_time_range(time_str):
#     time_str = convert_to_time(time_str)
#     if time_str is None:
#         return None
#     hour = int(time_str[:2])
#     time_range_start = f"{hour:02}:00"
#     time_range_end = f"{hour:02}:59"
#     return f"{time_range_start}-{time_range_end}"

# # Add new column Time Range
# df_grouped['Time Range'] = df_grouped['Time'].apply(get_time_range)

# # Create an empty DataFrame to store the final result
# top_10_barcodes_all_time_ranges = pd.DataFrame()

# # Loop through all the time ranges and find the top 10 barcodes for each time range
# for time_range in df_grouped['Time Range'].unique():
#     # Step 1: Filter rows with 'Time Range' equal to the current time range
#     df_filtered = df_grouped[df_grouped['Time Range'] == time_range]

#     # Step 2-4: Group by 'StoreID', 'Date', and 'Barcode' and count occurrences
#     barcode_counts = df_filtered.groupby(['StoreID', 'Date', 'Barcode']).size().reset_index(name='Count')

#     # Step 5: Get the top 10 barcodes for each 'StoreID' and 'Date'
#     top_10_barcodes = barcode_counts.groupby(['StoreID', 'Date']).apply(lambda x: x.nlargest(10, 'Count')).reset_index(drop=True)

#     # Add the 'Rank' column
#     top_10_barcodes['Rank'] = top_10_barcodes.groupby(['StoreID', 'Date'])['Count'].rank(ascending=False, method='first')

#     # Append the results to the final DataFrame
#     top_10_barcodes_all_time_ranges = pd.concat([top_10_barcodes_all_time_ranges, top_10_barcodes])

# # Optional: Set the index to 'StoreID', 'Date', 'Time Range', and 'Rank' for better presentation
# top_10_barcodes_all_time_ranges.set_index(['StoreID', 'Date', 'Time Range', 'Rank'], inplace=True)

# # Display the top 10 barcodes for each time range
# print(top_10_barcodes_all_time_ranges)

In [23]:
from datetime import datetime
import pandas as pd

# Use backup DataFrame
df_grouped = df_grouped_bk
# Create the DataFrame
df = df_grouped

# Function to convert time string to a proper time format
def convert_to_time(time_str):
    try:
        return datetime.strptime(time_str, '%H:%M:%S').strftime('%H:%M')
    except ValueError:
        return None

# Function to get Time Range for each Time value
def get_time_range(time_str):
    time_str = convert_to_time(time_str)
    if time_str is None:
        return None
    hour = int(time_str[:2])
    time_range_start = f"{hour:02}:00"
    time_range_end = f"{hour:02}:59"
    return f"{time_range_start}-{time_range_end}"

# Add new column Time Range
df['Time Range'] = df['Time'].apply(get_time_range)

# Now, let's find the top 10 barcodes for each time range
# Group the data by 'StoreID', 'Date', 'Time Range', and 'Barcode', and count the occurrences
df_grouped = df.groupby(['StoreID', 'Date', 'Time Range', 'Barcode']).size().reset_index(name='Count')

# Sort the data by 'StoreID', 'Date', 'Time Range', and the count in descending order
df_grouped = df_grouped.sort_values(by=['StoreID', 'Date', 'Time Range', 'Count'], ascending=[True, True, True, False])

# Add the 'Rank' column based on the count
df_grouped['Rank'] = df_grouped.groupby(['StoreID', 'Date', 'Time Range'])['Count'].rank(ascending=False)

# Filter the top 10 barcodes for each time range
top_10_barcodes_all_time_ranges = df_grouped[df_grouped['Rank'] <= 10]

# Display the result
top_10_barcodes_all_time_ranges

         StoreID        Date   Time Range        Barcode  Count  Rank
47        VN0001  2023-01-01  00:00-00:59  8938512632025      4   1.0
0         VN0001  2023-01-01  00:00-00:59  2010101000005      3   3.5
20        VN0001  2023-01-01  00:00-00:59  8934588843051      3   3.5
31        VN0001  2023-01-01  00:00-00:59  8935049500544      3   3.5
34        VN0001  2023-01-01  00:00-00:59  8935049501503      3   3.5
...          ...         ...          ...            ...    ...   ...
13680548  VN9996  2023-02-01  15:00-15:59  8936079121822      2   4.5
13680558  VN9996  2023-02-01  16:00-16:59  8934588063053      8   1.0
13680557  VN9996  2023-02-01  16:00-16:59  8934564600807      3   2.5
13680565  VN9996  2023-02-01  16:00-16:59  8935049510673      3   2.5
13680566  VN9996  2023-02-01  16:00-16:59  8936079121822      2   4.0

[6623114 rows x 6 columns]

In [26]:
# query to get top 10 barcodes for time range 23:00-23:59 and store VN0001
df_query = top_10_barcodes_all_time_ranges[(top_10_barcodes_all_time_ranges['Time Range'] == '23:00-23:59') & (top_10_barcodes_all_time_ranges['StoreID'] == 'VN0001')]

In [27]:
df_query

       StoreID        Date   Time Range        Barcode  Count  Rank
392     VN0001  2023-01-01  23:00-23:59  8934588063053      2   1.0
391     VN0001  2023-01-01  23:00-23:59  4903111370955      1   6.0
393     VN0001  2023-01-01  23:00-23:59  8934774000787      1   6.0
394     VN0001  2023-01-01  23:00-23:59  8935001714316      1   6.0
395     VN0001  2023-01-01  23:00-23:59  8935049501244      1   6.0
...        ...         ...          ...            ...    ...   ...
104693  VN0001  2023-07-18  23:00-23:59  8934804025766      1   3.0
104694  VN0001  2023-07-18  23:00-23:59  8935049510000      1   3.0
104695  VN0001  2023-07-18  23:00-23:59  8936010532113      1   3.0
104696  VN0001  2023-07-18  23:00-23:59  8936010532120      1   3.0
104697  VN0001  2023-07-18  23:00-23:59  8938500432774      1   3.0

[2070 rows x 6 columns]