In [1]:
### Import libraries
import pandas as pd
!pip install openpyxl

def exportlog():
    import sys

    log_file = 'error.log'

    # Redirect the error output to the log file
    sys.stderr = open(log_file, 'w')

    # Your code goes here

    # Reset the error output to the console
    sys.stderr = sys.__stderr__
pass
# def excel2csv


def DataNetSales(input_files_dir, output_file_name ,output_file_dir):
    """
    Read DataPayment folder and merge all excel files into one dataframe
    df_cate: dataframe
    input_files_dir: the directory of DataPayment folder
    output_file_name: the name of csv file
    output_file_dir: the directory of csv file
    
    Return: Exported to csv file
    """
    import os
    import glob
    import sys

    log_file = 'error.log'
    # Redirect the error output to the log file
    sys.stderr = open(log_file, 'w')

    # Get the list of excel files in the source folder
    # Recursively search for Excel files in the folder and subfolders
    excel_files = glob.glob(os.path.join(input_files_dir, "**/*.xlsx"), recursive=True)
    # Check if DataCate.xlsx file exists in excel_files then remove it from payment data
    if os.path.join(input_files_dir, "DataCate.xlsx") in excel_files:
        excel_files.remove(os.path.join(input_files_dir, "DataCate.xlsx"))
    # Check how many files in excel_files
    print(f'There are {len(excel_files)} excel files in {input_files_dir}')
        
    # Loop through the list of excel files
    for file in excel_files:
        # print access file name
        print(f'Processing file: {file}')
        try:
            # Read the excel file
            temp_df  = pd.read_excel(file, 'Sheet2', usecols=[2,3,4,7,17], skiprows=2)
            
            # To csv file
            ToCsv(temp_df, output_file_name, output_file_dir)
        except:
            print(f'Error reading file: {file}')
    
    # Reset the error output to the console
    sys.stderr = sys.__stderr__

pass

def ToCsv(df, filename, dir):
    """
    Write dataframe to csv file
    df: dataframe
    filename: the name of csv file
    dir: the directory of csv file
    """
    
    import os
    # Read the first line of the file
    output_file = os.path.join( dir , filename + '.csv')
    # Check if the file already exists
    if not os.path.isfile(output_file):
        # If not, create a new file and add the header
        df.to_csv(output_file, index=False)
    with open(output_file, 'r') as f:
        first_line = f.readline().strip()
    # Check if the first line contains the expected column names
    has_headers = 'InvoiceID' in first_line
    df.to_csv(output_file ,mode ='a', header = not has_headers, index=False)

Requirement already satisfied: openpyxl in c:\users\trieu.pham\anaconda3\envs\myenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\trieu.pham\anaconda3\envs\myenv\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
exportlog()
import configparser
config = configparser.ConfigParser()
config_file = 'config.ini'
config.read(config_file)

['config.ini']

In [4]:
input_files_dir = config.get('path', 'input_files_dir')
output_file_name = config.get('path', 'output_file_name_net_sales')
output_file_dir = config.get('path', 'output_file_dir')


#DataNetSales(input_files_dir, output_file_name, output_file_dir)

In [5]:
### Test read csv file

data_file = output_file_dir + '\\' + output_file_name + '.csv'
df = pd.read_csv(data_file)

df

,Date,Time,InvoiceID,Barcode,Total Include VAT
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,7000
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,12000
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,25000
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,13000
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,13000
...,...,...,...,...,...
2054556,2023-01-11,22:06:27,VN0236021101230057,8935112200005,13000
2054557,2023-01-11,22:10:29,VN0236021101230058,8934803044027,13000
2054558,2023-01-11,22:10:29,VN0236021101230058,8935001215028,11000
2054559,2023-01-11,18:19:22,VN9996011101230005,2010101000012,9000
2054560,2023-01-11,18:19:22,VN9996011101230005,2010101000005,3000