In [1]:
#library imports
import pyautogui
import time
from pywinauto import Application, findwindows

def goInventory():
    # Wait for 5 seconds before starting the automation
    time.sleep(5)
    # Start automation
    pyautogui.keyDown('1')
    pyautogui.keyUp('1')
    time.sleep(0.1)
    pyautogui.keyDown('0')
    pyautogui.keyUp('0')
    time.sleep(0.1)
    pyautogui.keyDown('0')
    pyautogui.keyUp('0')
    time.sleep(0.1)
    pyautogui.keyDown('enter')
    pyautogui.keyUp('enter')
    time.sleep(0.1)
    pyautogui.keyDown('1')
    pyautogui.keyUp('1')
    time.sleep(0.1)
    pyautogui.keyDown('enter')
    pyautogui.keyUp('enter')
    time.sleep(0.1)
    pyautogui.keyDown('n')
    pyautogui.keyUp('n')
    time.sleep(2)
     # send arrow down 3 times
    for i in range(3):
        pyautogui.keyDown('down')
        pyautogui.keyUp('down')
        time.sleep(0.1)
    # send enter
    pyautogui.keyDown('enter')
    pyautogui.keyUp('enter')
    time.sleep(2)

def escPress():
    # Number of times to loop
    num_loops = 10
    # Loop through the key presses
    for _ in range(num_loops):
        # Press the Esc key
        pyautogui.keyDown('esc')
        time.sleep(0.1)
        
        # # Press N key
        # pyautogui.keyDown('n')
        # time.sleep(0.1)
        
        # Release the keys
        pyautogui.keyUp('n')
        pyautogui.keyUp('esc')

def focus_on_win_app(name):
    try:
        app = Application(backend="uia").connect(title_re=name)
        window = app.window(title_re=name)
        window.set_focus()
    except findwindows.ElementNotFoundError:
        pass
        return False

In [6]:
## CREATE INVNETORY LOCATION ##
## This script will create a new inventory location in the system ##

location_name = 'showcase display 1'
location_description = 'showcase display 1'
location_name_create_test = 'showcase display test'
location_description_create_test = 'showcase display test'

def create_inventory(location_name, location_description):
    # Go to Inventory
    goInventory()
    # Send arrow down 5 times
    for i in range(5):
        pyautogui.keyDown('down')
        pyautogui.keyUp('down')
        time.sleep(0.1)
    # Go to Inventory Location
    pyautogui.keyDown('6')
    pyautogui.keyUp('6')
    time.sleep(3)
    pyautogui.keyDown('1')
    pyautogui.keyUp('1')
    time.sleep(3)
    pyautogui.keyDown('f2')
    pyautogui.keyUp('f2')
    time.sleep(1)
   
    # Send key location name
    pyautogui.write(location_name)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    # Send key location description
    pyautogui.write(location_description)

    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('down')
    pyautogui.keyUp('down')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('down')
    pyautogui.keyUp('down')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('tab')
    pyautogui.keyUp('tab')
    time.sleep(0.1)
    pyautogui.keyDown('f2')
    pyautogui.keyUp('f2')
    time.sleep(0.1)
    pyautogui.keyDown('enter')
    pyautogui.keyUp('enter')
    time.sleep(0.1)

    # Esc to BO login screen
    escPress()

focus_on_win_app("Oracle")
create_inventory(location_name_create_test, location_description_create_test)

In [13]:
## ITEM TRANSFER ##
## This script is used to transfer items from one location to another ##

srcLocation = 'Default'
dstLocation = location_description
srcBucket = 'On Hand'
dstBucket = 'On Hand'
item = '1005'
quantity = 5

def item_transfer(srcLocation, dstLocation, srcBucket, dstBucket, item, quantity):
    goInventory()
    # send arrow down 4 times
    for i in range(4):
        pyautogui.press('down')
        time.sleep(0.1)
    # Select 5 to go to the item transfer menu
    pyautogui.press('5')
    # Delay for 1 second
    time.sleep(1)
    # Type the source location
    pyautogui.typewrite(srcLocation)
    # Press tab to go to the srcBucket
    pyautogui.press('tab')
    # Type the source bucket
    pyautogui.typewrite(srcBucket)
    # Press F8 to Progress
    pyautogui.press('f8')
    # Delay for 1 second
    time.sleep(1)
    # Type the destination location
    pyautogui.typewrite(dstLocation)
    # Press tab to go to the dstBucket
    pyautogui.press('tab')
    # Type the destination bucket
    pyautogui.typewrite(dstBucket)
    # Press F8 to Progress
    pyautogui.press('f8')
    # Select Reason Code, enter
    pyautogui.press('enter')
    # Delay for 1 second
    time.sleep(1)
    # Type the item
    pyautogui.typewrite(item)
    # Enter item
    pyautogui.press('enter')
    # Delay for 3 second
    time.sleep(3)
    # Press F3 change quantity
    pyautogui.press('f3')
    # Type the quantity
    pyautogui.typewrite(str(quantity))
    # Delay for 1 second
    time.sleep(1)
    # Press enter to confirm
    pyautogui.press('enter')
    # Press F2 to save
    pyautogui.press('f2')
    # Sleep for 2 second
    pyautogui.sleep(2)
    # Press Y to confirm
    pyautogui.press('y')
    # Press esc to back BO menu
    escPress()

focus_on_win_app("Oracle")
item_transfer(srcLocation, dstLocation, srcBucket, dstBucket, item, quantity)

In [13]:
## CREATE SALES TRANSACTION

num_trans = 1
user_login = '100'

import pandas as pd
import time
import pyautogui

df = pd.read_csv('customers.csv')
# Remove all rows with CUST_ID = null
df = df[df['CUST_ID'].notna()]
df_items = pd.read_csv('items.csv')
def create_sales():
    # Wait 5s before take action
    time.sleep(2)
    # Login with user 102
    pyautogui.typewrite(user_login)
    # Enter password
    pyautogui.press('enter')
    # Wait 1s before take action
    time.sleep(0.5)
    pyautogui.typewrite('1')
    # Wait 1s before take action
    time.sleep(0.5)
    # Press Enter to login
    pyautogui.press('enter')
    time.sleep(2)

    # Press Enter to bypass Commissoned Associate
    # pyautogui.press('enter')
    # time.sleep(0.3)
    # pyautogui.press('enter')
    # Press Tab 8 times -- NEX using 8 times, ROG using 7 times
    for i in range(8):
        pyautogui.press('tab')
        time.sleep(0.1)
    time.sleep(0.3)
    # Enter CUST_ID random from data frame
    pyautogui.typewrite(str(df['CUST_ID'].sample().values[0]))
    # Wait 0.5s before take action
    time.sleep(0.5)
    ## ROG ##
    # # Press F8 to progress
    # pyautogui.press('f8')

    ## NEX ##
    # Press enter to progress
    pyautogui.press('enter')

    # Press N to cancel joinning loyalty program
    pyautogui.press('n')
    # Wait 3s before take action
    time.sleep(3)
    # Remove N if not have loyalty program by press backspace
    pyautogui.press('backspace')
    # Wait 0.5s before take action
    time.sleep(0.5)
    # Press Enter to confirm customer
    pyautogui.press('enter')
    # Wait 2s before take action
    time.sleep(2)
    # Enter item random from data frame df_items
    pyautogui.typewrite(str(df_items['ITEM_ID'].sample().values[0]))
    # Press Enter to confirm
    pyautogui.press('enter')
    # Wait 1s before take action
    time.sleep(1)
    # # Press Down to select the location
    # pyautogui.press('down')
    # # Wait 0.5s before take action
    # time.sleep(0.5)1      
    # pyautogui.press('down')
    # # Wait 0.5s before take action
    # time.sleep(0.5)
    # # Press F8
    # pyautogui.press('f8')
    # # Wait 0.5s before take action
    # time.sleep(0.5)
    #Press F10 to progress
    pyautogui.press('f10')
    # Wait 0.5s before take action
    time.sleep(0.5)
    # Press Enter 2 times to confirm
    pyautogui.press('enter')
    pyautogui.press('enter')
    # Wait 0.5s before take action
    time.sleep(0.5)
    # Press F5 to progress
    pyautogui.press('F5')
    # Wait 0.5s before take action
    time.sleep(0.5)
    
    escPress()

focus_on_win_app("NEX VN Store")

# Loop through the number of transactions
for i in range(0, num_trans):
    create_sales()

In [5]:
df_items

           ITEM_ID
0        107974534
1     000000360340
2        105574351
3        103873445
4             6008
...            ...
1595     105874142
1596     105724030
1597     104873181
1598     108275372
1599     104873519

[1600 rows x 1 columns]

In [10]:
# Define the starting and ending numbers
start_number = 1
end_number = 700

# Define a filename for the output text file
output_file = "output.txt"

# Generate the lines and write them to the text file
with open(output_file, "w") as file:
    for i in range(start_number, end_number + 1):
        line = f"00101000122015121500000{i:03d}".ljust(26) + "\n"
        file.write(line)

print(f"{end_number - start_number + 1} lines generated and saved to {output_file}.")

700 lines generated and saved to output.txt.

In [4]:
import random

# Define the starting and ending numbers
start_number = 1
end_number = 1000000

# Define the list of random cust_id values
random_cust_ids = [
    '1005784','1005798'
]

# Define the maximum number of transactions per file
transactions_per_file = 50000

# Initialize a file counter
file_counter = 1

# Generate the SQL script and write it to the text files
for i in range(start_number, end_number + 1):
    # Randomly select a cust_id from the list
    cust_id = random.choice(random_cust_ids)

    # Generate the RTL_TRANS_ID
    rtl_trans_id = f"'01010001220151215000000{i:05d}'".ljust(26, '0')

    # Construct the SQL INSERT statement
    sql_insert = f"""
    INSERT INTO TRN_TRANSACTION (
        ORGANIZATION_ID, RTL_TRANS_ID, RTL_LOC_ID, WKSTN_ID, BUSINESS_DATE, TRANS_SEQ,
        BEGIN_DATETIME, END_DATETIME, KEYED_OFFLINE_FLAG, TRANS_STATCODE, TRANS_TYPCODE,
        OPERATOR_ID, VOID_FLAG, CUST_KEY, CUST_ID, ORG_CUST_KEY, ORG_CUST_ID, POSTED_FLAG,
        TOTAL, SUBTOTAL, TAX_TOTAL, NON_PHYSICAL_ITM_TOTAL, ISO_CURRENCY_TYPCODE, TRANS_REASCODE,
        NOTES, CREATE_USER, MARKDOWN_TOTAL, CREATE_DATE, UPDATE_DATE, LINKED_TRANSACTION_ID,
        COST_OF_GOODS_SOLD_TOTAL, LINKED_TRL_TRANS_ID, UPDATE_USER, ORG_ISO_CURRENCY_TYPECODE,
        CURRENCY_EXCHANGE_RATE, ORIG_BUSINESS_DATE
    ) 
    VALUES (
        1000, {rtl_trans_id}, '00102', 10, to_date('25-SEP-23', 'DD-MON-RR'), 7083,
        to_timestamp('12-SEP-23 01.33.35.000000000 PM'),
        to_timestamp('12-SEP-23 01.38.53.000000000 PM'), 0, 'DELIVERED', 'TRANSACTION', '10', 0, '',
        {cust_id}, '', '', 0, 255, 255, 0, 0, 'USD', '', '', '', 0, to_date('03-AUG-20', 'DD-MON-RR'),
        to_date('', 'DD-MON-RR'), '', 255, '', '', 'USD', 1, to_timestamp('')
    );

    """

    # Write the SQL INSERT statement to the current file
    with open(f"output_{file_counter}.sql", "a") as file:
        file.write(sql_insert)

    # If the number of transactions reaches the limit, increment the file counter
    if i % transactions_per_file == 0:
        file_counter += 1

print(f"{end_number - start_number + 1} SQL INSERT statements generated and saved to output files.")

KeyboardInterrupt:

In [2]:
import random
import string

# Define the list of CUST_ID values
cust_ids = [
    '100001','100002','100003','100004','100005','100006','100007','100008','100009','100010','100011','100012','100013','100014','100015','100016','100017','100018','100019','100020','100021','100022','100023','100024','100025','100026','100027','100028','100029','100030','100031','100032','100033','100034','100035','100036','100037','100038','100039','100040','100041','100042','100043','100044','100045','100046','100047','100048','100049','100050','100051','100052','100053','100054','100055','100056','100057','100058','100059','100060','100061','100062','100063','100064','100065','100066','100067','100068','100069','100070','100071','100072','100073','100074','100075','100076','100077','100078','100079','100080','100081','100082','100083','100084','100085','100086','100087','100088','100089','100090','100091','100092','100093','100094','100095','100096','100097','100098','100099','100100','100101','100102','100103','100104','100105','100106','100107','100108','100109','100110','100111','100112','100113','100114','100115','100116','100117','100118','100119','100120','100121','100122','100123','100124','100125','100126','100127','100128','100129','100130','100131','100132','100133','100134','100135','100136','100137','100138','100139','100140','100141','100142','100143','100144','100145','100146','100147','100148','100149','100150','100151','100152','100153','100154','100155','100156','100157','100158','100159','100160','100161','100162','100163','100164','100165','100166','100167','100168','100169','100170','100171','100172','100173','100174','100175','100176','100177','100178','100179','100180','100181','100182','100183','100184','100185','100186','100187','100188','100189','100190','100191','100192','100193','100194','100195','100196','100197','100198','100199','100200','100201','100202','100203','100204','100205','100206','100207','100208','100209','100210','100211','100212','100213','100214','100215','100216','100217','100218','100219','100220','100221','100222','100223','100224','100225','100226','100227','100228','100229','100230','100231','100232','100233','100234','100235','100236','100237','100238','100239','100240','100241','100242','100243','100244','100245','100246','100247','100248','100249','100250','100251','100252','100253','100254','100255','100256','100257','100258','100259','100260','100261','100262','100263','100264','100265','100266','100267','100268','100269','100270','100271','100272','100273','100274','100275','100276','100277','100278','100279','100280','100281','100282','100283','100284','100285','100286','100287','100288','100289','100290','100291','100292','100293','100294','100295','100296','100297','100298','100299','100300','100301','100302','100303','100304','100305','100306','100307','100308','100309','100310','100311','100312','100313','100314','100315','100316','100317','100318','100319','100320','100321','100322','100323','100324','100325','100326','100327','100328','100329','100330','100331','100332','100333','100334','100335','100336','100337','100338','100339','100340','100341','100342','100343','100344','100345','100346','100347','100348','100349','100350','100351','100352','100353','100354','100355','100356','100357','100358','100359','100360','100361','100362','100363','100364','100365','100366','100367','100368','100369','100370','100371','100372','100373','100374','100375','100376','100377','100378','100379','100380','100381','100382','100383','100384','100385','100386','100387','100388','100389','100390','100391','100392','100393','100394','100395','100396','100397','100398','100399','100400','100401','100402','100403','100404','100405','100406','100407','100408','100409','100410','100411','100412','100413','100414','100415','100416','100417','100418','100419','100420','100421','100422','100423','100424','100425','100426','100427','100428','100429','100430','100431','100432','100433','100434','100435','100436','100437','100438','100439','100440','100441','100442','100443','100444','100445','100446','100447','100448','100449','100450','100451','100452','100453','100454','100455','100456','100457','100458','100459','100460','100461','100462','100463','100464','100465','100466','100467','100468','100469','100470','100471','100472','100473','100474','100475','100476','100477','100478','100479','100480','100481','100482','100483','100484','100485','100486','100487','100488','100489','100490','100491','100492','100493','100494','100495','100496','100497','100498','100499','100500','100501','100502','100503','100504','100505','100506','100507','100508','100509','100510','100511','100512','100513','100514','100515','100516','100517','100518','100519','100520','100521','100522','100523','100524','100525','100526','100527','100528','100529','100530','100531','100532','100533','100534','100535','100536','100537','100538','100539','100540','100541','100542','100543','100544','100545','100546','100547','100548','100549','100550','100551','100552','100553','100554','100555','100556','100557','100558','100559','100560','100561','100562','100563','100564','100565','100566','100567','100568','100569','100570','100571','100572','100573','100574','100575','100576','100577','100578','100579','100580','100581','100582','100583','100584','100585','100586','100587','100588','100589','100590','100591','100592','100593','100594','100595','100596','100597','100598','100599','100600','100601','100602','100603','100604','100605','100606','100607','100608','100609','100610','100611','100612','100613','100614','100615','100616','100617','100618','100619','100620','100621','100622','100623','100624','100625','100626','100627','100628','100629','100630','100631','100632','100633','100634','100635','100636','100637','100638','100639','100640','100641','100642','100643','100644','100645','100646','100647','100648','100649','100650','100651','100652','100653','100654','100655','100656','100657','100658','100659','100660','100661','100662','100663','100664','100665','100666','100667','100668','100669','100670','100671','100672','100673','100674','100675','100676','100677','100678','100679','100680','100681','100682','100683','100684','100685','100686','100687','100688','100689','100690','100691','100692','100693','100694','100695','100696','100697','100698','100699','100700','100701','100702','100703','100704','100705','100706','100707','100708','100709','100710','100711','100712','100713','100714','100715','100716','100717','100718','100719','100720','100721','100722','100723','100724','100725','100726','100727','100728','100729','100730','100731','100732','100733','100734','100735','100736','100737','100738','100739','100740','100741','100742','100743','100744','100745','100746','100747','100748','100749','100750','100751','100752','100753','100754','100755','100756','100757','100758','100759','100760','100761','100762','100763','100764','100765','100766','100767','100768','100769','100770','100771','100772','100773','100774','100775','100776','100777','100778','100779','100780','100781','100782','100783','100784','100785','100786','100787','100788','100789','100790','100791','100792','100793','100794','100795','100796','100797','100798','100799','100800','100801','100802','100803','100804','100805','100806','100807','100808','100809','100810','100811','100812','100813','100814','100815','100816','100817','100818','100819','100820','100821','100822','100823','100824','100825','100826','100827','100828','100829','100830','100831','100832','100833','100834','100835','100836','100837','100838','100839','100840','100841','100842','100843','100844','100845','100846','100847','100848','100849','100850','100851','100852','100853','100854','100855','100856','100857','100858','100859','100860','100861','100862','100863','100864','100865','100866','100867','100868','100869','100870','100871','100872','100873','100874','100875','100876','100877','100878','100879','100880','100881','100882','100883','100884','100885','100886','100887','100888','100889','100890','100891','100892','100893','100894','100895','100896','100897','100898','100899','100900','100901','100902','100903','100904','100905','100906','100907','100908','100909','100910','100911','100912','100913','100914','100915','100916','100917','100918','100919','100920','100921','100922','100923','100924','100925','100926','100927','100928','100929','100930','100931','100932','100933','100934','100935','100936','100937','100938','100939','100940','100941','100942','100943','100944','100945','100946','100947','100948','100949','100950','100951','100952','100953','100954','100955','100956','100957','100958','100959','100960','100961','100962','100963','100964','100965','100966','100967','100968','100969','100970','100971','100972','100973','100974','100975','100976','100977','100978','100979','100980','100981','100982','100983','100984','100985','100986','100987','100988','100989','100990','100991','100992','100993','100994','100995','100996','100997','100998','100999','101000' # Add all your CUST_ID values here
]

# Function to generate a random phone number
def generate_random_phone_number():
    return ''.join(random.choices(string.digits, k=10))

# Create or open a text file to write the SQL queries
with open('update_script.sql', 'w') as sql_file:
    # Iterate through the CUST_ID values and write the SQL queries to the file
    for cust_id in cust_ids:
        phone_num = generate_random_phone_number()
        query = f"UPDATE CST_CUST_PHONE SET PHONE_NUM = '{phone_num}' WHERE CUST_ID = '{cust_id}';\n"
        sql_file.write(query)

print("SQL script has been written to 'update_script.sql'.")

SQL script has been written to 'update_script.sql'.

In [6]:
import os
import time
import random

# Number of files to create
num_files = 10

# Directory to create files in
directory = "Sample"

# Create the directory if it doesn't exist
os.makedirs(directory, exist_ok=True)

for i in range(num_files):
    # Create a file with random data
    with open(os.path.join(directory, f'example_old_{i}.txt'), 'w') as f:
        for _ in range(100):
            f.write(str(random.randint(0, 100)) + '\n')

    # Get a random timestamp older than 60 days
    days_older_than_60 = random.randint(60, 120)
    timestamp_days_ago = time.time() - (days_older_than_60 * 24 * 60 * 60)

    # Change the modified time of the file
    os.utime(os.path.join(directory, f'example_old_{i}.txt'), (timestamp_days_ago, timestamp_days_ago))

for i in range(num_files):
    # Create a file with random data
    with open(os.path.join(directory, f'example_new_{i}.txt'), 'w') as f:
        for _ in range(100):
            f.write(str(random.randint(0, 100)) + '\n')

    # Get a random timestamp between 10 and 30 days ago
    days_ago = random.randint(5, 30)
    timestamp_days_ago = time.time() - (days_ago * 24 * 60 * 60)

    # Change the modified time of the file
    os.utime(os.path.join(directory, f'example_new_{i}.txt'), (timestamp_days_ago, timestamp_days_ago))

In [1]:
# load dummy data to dataframe C:\Users\trieu.pham\Downloads\pool.customer.txt.csv

import pandas as pd

# Load the data from the CSV file
df = pd.read_csv('C:/Users/trieu.pham/Downloads/pool.customer.txt.csv')

df

,CARD_TYPCODE,CUST_ID,ORGANIZATION_ID,CARD_SERIAL_NUM,CREATE_DATE,CREATE_USER,UPDATE_DATE,UPDATE_USER,PRIMARY_FLAG
0,BRIGHTCARD,1022147,1000,8100014003085293,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
1,BRIGHTCARD,1022148,1000,8100014003085294,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
2,BRIGHTCARD,1022149,1000,8100014003085295,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
3,BRIGHTCARD,1022150,1000,8100014003085296,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
4,BRIGHTCARD,1022151,1000,8100014003085297,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
...,...,...,...,...,...,...,...,...,...
20002,BRIGHTCARD,1032251,1000,8100014003095397,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
20003,BRIGHTCARD,1032252,1000,8100014003095398,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
20004,BRIGHTCARD,1032253,1000,8100014003095399,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
20005,BRIGHTCARD,1032254,1000,8100014003095400,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1
20006,BRIGHTCARD,1032255,1000,8100014003095401,NaN,NaN,2023-11-13 02:34:20.000,NEXNLR,1

In [6]:
# select 1000 first customers from CUST_ID
df_sample = df.head(1000)
df_sample

# Save list column CUST_ID to a CSV file
df_sample['CUST_ID'].to_csv('C:/Users/trieu.pham/Downloads/cust_id_sample.csv', index=False)

df_custid = pd.read_csv('C:/Users/trieu.pham/Downloads/cust_id_sample.csv')

df_custid

     CUST_ID
0    1022147
1    1022148
2    1022149
3    1022150
4    1022151
..       ...
995  1021875
996  1021876
997  1021877
998  1021878
999  1021879

[1000 rows x 1 columns]

In [8]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/trieu.pham/Downloads/cust_id_sample.csv')

# Convert the customer IDs to a list
cust_ids = df['CUST_ID'].tolist()

# Add ' to before and after each customer ID
cust_ids = [f"'{cust_id}'" for cust_id in cust_ids]

# Create a string with the customer IDs separated by commas
cust_ids_str = ', '.join(map(str, cust_ids))

# Construct the SQL query
sql_query = f"SELECT * FROM TRN_TRANSACTION tt WHERE CUST_ID IN ({cust_ids_str})"

# Print the SQL query
print(sql_query)

SELECT * FROM TRN_TRANSACTION tt WHERE CUST_ID IN ('1022147', '1022148', '1022149', '1022150', '1022151', '1022152', '1022153', '1022154', '1022155', '1022156', '1022157', '1022158', '1022159', '1022160', '1022161', '1022162', '1022163', '1022164', '1022165', '1022166', '1022167', '1022168', '1022169', '1022170', '1022171', '1022172', '1022173', '1022174', '1022175', '1022176', '1022177', '1022178', '1022179', '1022180', '1022181', '1022182', '1022183', '1022184', '1022185', '1022186', '1022187', '1022188', '1022189', '1022190', '1022191', '1022192', '1022193', '1022194', '1022195', '1022196', '1022197', '1022198', '1022199', '1022200', '1022201', '1022202', '1022203', '1022204', '1022205', '1022206', '1022207', '1022208', '1022209', '1022210', '1022211', '1022212', '1022213', '1022214', '1022215', '1022216', '1022217', '1022218', '1022219', '1022220', '1022221', '1022222', '1022223', '1022224', '1022225', '1022226', '1022227', '1022228', '1022229', '1022230', '1022231', '1022232', '1022233', '1022234', '1022235', '1022236', '1022237', '1022238', '1022239', '1022240', '1022241', '1022242', '1022243', '1022244', '1022142', '1022143', '1022144', '1022145', '1022146', '1022245', '1022246', '1022247', '1022248', '1022249', '1022250', '1022251', '1022252', '1022253', '1022254', '1022255', '1022256', '1022257', '1022258', '1022259', '1022260', '1022261', '1022262', '1022263', '1022264', '1022265', '1022266', '1022267', '1022268', '1022269', '1022270', '1022271', '1022272', '1022273', '1022274', '1022275', '1022276', '1022277', '1022278', '1022279', '1022280', '1022281', '1022282', '1022283', '1022284', '1022285', '1022286', '1022287', '1022288', '1022289', '1022290', '1022291', '1022292', '1022293', '1022294', '1022295', '1022296', '1022297', '1022298', '1009958', '1022299', '1022300', '1022301', '1022302', '1022303', '1022304', '1022305', '1022306', '1022307', '1022308', '1022309', '1022310', '1022311', '1022312', '1022313', '1022314', '1022315', '1022316', '1022317', '1022318', '1022319', '1022320', '1022321', '1022322', '1022323', '1022324', '1022325', '1022326', '1022327', '1022328', '1022329', '1022330', '1022331', '1022332', '1022333', '1022334', '1022335', '1022336', '1022337', '1022338', '1022339', '1022340', '1022341', '1022342', '1022343', '1022344', '1022345', '1022346', '1022347', '1022348', '1022349', '1022350', '1022351', '1022352', '1022353', '1022354', '1022355', '1022356', '1022357', '1022358', '1022359', '1022360', '1022361', '1022362', '1022363', '1022364', '1022365', '1022366', '1022367', '1022368', '1022369', '1022370', '1022371', '1022372', '1022373', '1022374', '1022375', '1022376', '1022377', '1022378', '1022379', '1022380', '1022381', '1022382', '1022383', '1022384', '1022385', '1022386', '1022387', '1022388', '1022389', '1022390', '1022391', '1022392', '1022393', '1022394', '1022395', '1022396', '1022397', '1022398', '1022399', '1022400', '1022401', '1022402', '1022403', '1022404', '1022405', '1022406', '1022407', '1022408', '1022409', '1022410', '1022411', '1022412', '1022413', '1022414', '1022415', '1022416', '1022417', '1022418', '1022419', '1022420', '1022421', '1022422', '1022423', '1022424', '1022425', '1022426', '1022427', '1022428', '1022429', '1022430', '1022431', '1022432', '1022433', '1022434', '1022435', '1022436', '1022437', '1022438', '1022439', '1022440', '1022441', '1022442', '1022443', '1022444', '1022445', '1022446', '1022447', '1022448', '1022449', '1022450', '1022451', '1022452', '1022453', '1022454', '1022455', '1022456', '1022457', '1022458', '1022459', '1022460', '1022461', '1022462', '1022463', '1022464', '1022465', '1022466', '1022467', '1022468', '1022469', '1022470', '1022471', '1022472', '1022473', '1022474', '1022475', '1022476', '1022477', '1022478', '1022479', '1022480', '1022481', '1022482', '1022483', '1022484', '1022485', '1022486', '1022487', '1022488', '1022489', '1022490', '1022491', '1022492', '1022493', '1022494', '1022495', '1022496', '1022497', '1022498', '1022499', '1022500', '1022501', '1022502', '1022503', '1022504', '1022505', '1022506', '1022507', '1022508', '1022509', '1022510', '1022511', '1022512', '1022513', '1022514', '1022515', '1022516', '1022517', '1022518', '1022519', '1022520', '1022521', '1022522', '1022523', '1022524', '1022525', '1022526', '1022527', '1022528', '1022529', '1022530', '1022531', '1022532', '1022533', '1022534', '1022535', '1022536', '1022537', '1022538', '1022539', '1022540', '1022541', '1022542', '1022543', '1022544', '1022545', '1022546', '1022547', '1022548', '1022549', '1022550', '1022551', '1022552', '1022553', '1022554', '1022555', '1022556', '1022557', '1022558', '1022559', '1022560', '1022561', '1022562', '1022563', '1022564', '1022565', '1022566', '1022567', '1022568', '1022569', '1022570', '1022571', '1022572', '1022573', '1022574', '1022575', '1022576', '1022577', '1022578', '1022579', '1022580', '1022581', '1022582', '1022583', '1022584', '1022585', '1022586', '1022587', '1022588', '1022589', '1022590', '1022591', '1022592', '1022593', '1022594', '1022595', '1022596', '1022597', '1022598', '1022599', '1022600', '1022601', '1022602', '1022603', '1022604', '1022605', '1022606', '1022607', '1022608', '1022609', '1022610', '1022611', '1022612', '1022613', '1022614', '1022615', '1022616', '1022617', '1022618', '1022619', '1022620', '1022621', '1022622', '1022623', '1022624', '1022625', '1022626', '1022627', '1022628', '1022629', '1022630', '1022631', '1022632', '1022633', '1022634', '1022635', '1022636', '1022637', '1022638', '1022639', '1022640', '1022641', '1022642', '1022643', '1022644', '1022645', '1022646', '1022647', '1022648', '1022649', '1022650', '1022651', '1022652', '1022653', '1022654', '1022655', '1022656', '1022657', '1022658', '1022659', '1022660', '1022661', '1022662', '1022663', '1022664', '1022665', '1022666', '1022667', '1022668', '1022669', '1022670', '1022671', '1022672', '1022673', '1022674', '1022675', '1022676', '1022677', '1022678', '1022679', '1022680', '1022681', '1022682', '1022683', '1022684', '1022685', '1022686', '1022687', '1022688', '1022689', '1022690', '1022691', '1022692', '1022693', '1022694', '1022695', '1022696', '1022697', '1022698', '1022699', '1022700', '1022701', '1022702', '1022703', '1022704', '1022705', '1022706', '1022707', '1022708', '1022709', '1022710', '1022711', '1022712', '1022713', '1022714', '1022715', '1022716', '1022717', '1022718', '1022719', '1022720', '1022721', '1022722', '1022723', '1022724', '1022725', '1022726', '1022727', '1022728', '1022729', '1022730', '1022731', '1022732', '1022733', '1022734', '1022735', '1022736', '1022737', '1022738', '1022739', '1022740', '1022741', '1022742', '1022743', '1022744', '1022745', '1022746', '1022747', '1022748', '1022749', '1022750', '1022751', '1022752', '1022753', '1022802', '1022754', '1022755', '1022756', '1022757', '1022758', '1022759', '1022760', '1022761', '1022762', '1022763', '1022764', '1022765', '1022766', '1022767', '1022768', '1022769', '1022770', '1022771', '1022772', '1022773', '1022774', '1022775', '1022776', '1022777', '1022778', '1022779', '1022780', '1022781', '1022782', '1022783', '1022784', '1022785', '1022786', '1022787', '1022788', '1022789', '1022790', '1022791', '1022792', '1022793', '1022794', '1022795', '1022796', '1022797', '1022798', '1022799', '1022800', '1022801', '1022803', '1022804', '1022805', '1022806', '1022807', '1022808', '1022809', '1022810', '1022811', '1022812', '1022813', '1022814', '1022815', '1022816', '1022817', '1022818', '1022819', '1022820', '1022821', '1022822', '1022823', '1022824', '1022825', '1022826', '1022827', '1022828', '1022829', '1022830', '1022831', '1022832', '1022833', '1022834', '1022835', '1022836', '1022837', '1022838', '1022839', '1022840', '1022841', '1022842', '1022843', '1022844', '1022845', '1022846', '1022847', '1022848', '1022849', '1022850', '1022851', '1022852', '1022853', '1022854', '1022855', '1022856', '1022857', '1022858', '1022859', '1022860', '1022861', '1022862', '1022863', '1022864', '1022865', '1022866', '1022867', '1022868', '1022869', '1022870', '1022871', '1022872', '1022873', '1022874', '1022875', '1022876', '1022877', '1022878', '1022879', '1022880', '1022881', '1022882', '1022883', '1022884', '1022885', '1022886', '1022887', '1022888', '1022889', '1022890', '1022891', '1022892', '1022893', '1022894', '1022895', '1022896', '1022897', '1022898', '1022899', '1022900', '1022901', '1022902', '1022903', '1022904', '1022905', '1022906', '1022907', '1022908', '1022909', '1022910', '1022911', '1022912', '1022913', '1022914', '1022915', '1022916', '1022917', '1022918', '1022919', '1022920', '1022921', '1022922', '1022923', '1022924', '1022925', '1022926', '1022927', '1022928', '1022929', '1022930', '1022931', '1022932', '1022933', '1022934', '1022935', '1022936', '1022937', '1022938', '1022939', '1022940', '1022941', '1022942', '1022943', '1022944', '1022945', '1022946', '1022947', '1022948', '1022949', '1022950', '1022951', '1022952', '1022953', '1022954', '1022955', '1022956', '1022957', '1022958', '1022959', '1022960', '1022961', '1022962', '1022963', '1022964', '1022965', '1022966', '1022967', '1022968', '1022969', '1022970', '1022971', '1022972', '1022973', '1022974', '1022975', '1023064', '1023065', '1023066', '1023067', '1023068', '1023069', '1023070', '1023071', '1023072', '1023073', '1023074', '1023075', '1022976', '1022977', '1022978', '1022979', '1022980', '1022981', '1022982', '1022983', '1022984', '1022985', '1022986', '1022987', '1022988', '1022989', '1022990', '1022991', '1022992', '1022993', '1022994', '1022995', '1022996', '1022997', '1022998', '1022999', '1023000', '1023001', '1023002', '1023003', '1023004', '1023005', '1023006', '1023007', '1023008', '1023009', '1023010', '1023011', '1023012', '1023013', '1023014', '1023015', '1023016', '1023017', '1023018', '1023019', '1023020', '1023021', '1023022', '1023023', '1023024', '1023025', '1023026', '1023027', '1023028', '1023029', '1023030', '1023031', '1023032', '1023033', '1023034', '1023035', '1023036', '1023037', '1023038', '1023039', '1023040', '1023041', '1023042', '1023043', '1023044', '1023045', '1023046', '1023047', '1023048', '1023049', '1023050', '1023051', '1023052', '1023053', '1023054', '1023055', '1023056', '1023057', '1023058', '1023059', '1023060', '1023061', '1023062', '1023063', '1023076', '1023077', '1023078', '1023079', '1023080', '1023081', '1023082', '1023083', '1021825', '1021826', '1021827', '1021828', '1021829', '1021830', '1021831', '1021832', '1021885', '1021833', '1021834', '1021835', '1021836', '1021837', '1021838', '1021839', '1021840', '1021886', '1021841', '1021842', '1021843', '1021844', '1021845', '1021846', '1021847', '1021848', '1021849', '1021850', '1021851', '1021852', '1021853', '1021854', '1021855', '1021856', '1021857', '1021858', '1021859', '1021860', '1021861', '1021862', '1021863', '1021864', '1021865', '1021866', '1021867', '1021868', '1021869', '1021870', '1021871', '1021872', '1021873', '1021874', '1021875', '1021876', '1021877', '1021878', '1021879')

In [18]:
import random

# Define the distribution of points
distribution = [
    (650, (250, 499)),
    (190, (500, 749)),
    (80, (750, 999)),
    (40, (1000, 1249)),
    (20, (1250, 1499)),
    (10, (1500, 1699)),
    (9, (2500, 2749)),
    (1, (5300, 5300))
]

# Initialize the customer ID
cust_id = 100001

# Initialize the RTL_TRANS_ID
rtl_trans_id = 4241001292020081300000030

# Initialize the list of SQL insert statements
sql_inserts = []

# Generate the SQL insert statements
for num_customers, points_range in distribution:
    for _ in range(num_customers):
        points = random.randint(*points_range)
        sql_inserts.append(f"INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'{str(rtl_trans_id).zfill(26)}','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'{cust_id}',NULL,NULL,0,{points},{points},22.27,{points},'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,{points},NULL,NULL,'USD',1,NULL);")
        cust_id += 1
        rtl_trans_id += 1

# Print the first 1000 SQL insert statements
for sql in sql_inserts[:1000]:
    print(sql)

# Write the SQL insert statements to a file
with open('transactions.sql', 'w') as f:
    for sql in sql_inserts:
        f.write(sql + '\n')

INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000030','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100001',NULL,NULL,0,389,389,22.27,389,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,389,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000031','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100002',NULL,NULL,0,269,269,22.27,269,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,269,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000032','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100003',NULL,NULL,0,448,448,22.27,448,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,448,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000033','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100004',NULL,NULL,0,473,473,22.27,473,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,473,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000034','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100005',NULL,NULL,0,292,292,22.27,292,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,292,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000035','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100006',NULL,NULL,0,376,376,22.27,376,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,376,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000036','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100007',NULL,NULL,0,297,297,22.27,297,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,297,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000037','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100008',NULL,NULL,0,319,319,22.27,319,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,319,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000038','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100009',NULL,NULL,0,261,261,22.27,261,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,261,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000039','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100010',NULL,NULL,0,380,380,22.27,380,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,380,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000040','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100011',NULL,NULL,0,433,433,22.27,433,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,433,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000041','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100012',NULL,NULL,0,400,400,22.27,400,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,400,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000042','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100013',NULL,NULL,0,342,342,22.27,342,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,342,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000043','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100014',NULL,NULL,0,397,397,22.27,397,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,397,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000044','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100015',NULL,NULL,0,375,375,22.27,375,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,375,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000045','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100016',NULL,NULL,0,365,365,22.27,365,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,365,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000046','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100017',NULL,NULL,0,487,487,22.27,487,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,487,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000047','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100018',NULL,NULL,0,494,494,22.27,494,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,494,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000048','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100019',NULL,NULL,0,460,460,22.27,460,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,460,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000049','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100020',NULL,NULL,0,451,451,22.27,451,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,451,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000050','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100021',NULL,NULL,0,259,259,22.27,259,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,259,NULL,NULL,'USD',1,NULL);
INSERT INTO TRN_TRANSACTION (ORGANIZATION_ID,RTL_TRANS_ID,RTL_LOC_ID,WKSTN_ID,BUSINESS_DATE,TRANS_SEQ,BEGIN_DATETIME,END_DATETIME,KEYED_OFFLINE_FLAG,TRANS_STATCODE,TRANS_TYPCODE,OPERATOR_ID,VOID_FLAG,CUST_KEY,CUST_ID,ORG_CUST_KEY,ORG_CUST_ID,POSTED_FLAG,TOTAL,SUBTOTAL,TAX_TOTAL,NON_PHYSICAL_ITM_TOTAL,ISO_CURRENCY_TYPCODE,TRANS_REASCODE,NOTES,CREATE_USER,MARKDOWN_TOTAL,CREATE_DATE,UPDATE_DATE,LINKED_TRANSACTION_ID,COST_OF_GOODS_SOLD_TOTAL,LINKED_TRL_TRANS_ID,UPDATE_USER,ORG_ISO_CURRENCY_TYPECODE,CURRENCY_EXCHANGE_RATE,ORIG_BUSINESS_DATE) VALUES (1000,'04241001292020081300000051','04241',129,TIMESTAMP '2024-04-22 00:00:00.000000',30,TIMESTAMP '2024-04-22 00:00:00.000000',TIMESTAMP '2024-04-22 00:00:00.000000',0,NULL,NULL,'0',0,NULL,'100022',NULL,NULL,0,485,485,22.27,485,'USD',NULL,NULL,NULL,0,TIMESTAMP '2024-04-22 00:00:00.000000',NULL,NULL,485,NULL,NULL,'USD',1,NULL);

In [16]:
# Initialize the count of records
count = 0

# Define the range of totals
total_range = (5000, 5300)

# Open the transactions.sql file
with open('transactions.sql', 'r') as f:
    # Read the SQL insert statements
    sql_inserts = f.readlines()

    # Count the number of insert records with TOTAL in the specified range
    for sql in sql_inserts:
        # Check if the line is an SQL insert statement
        if sql.strip().upper().startswith('INSERT INTO'):
            # Extract the TOTAL from the SQL statement
            try:
                total = float(sql.split(",")[18])
            except ValueError:
                continue

            # Check if the TOTAL is in the specified range
            if total_range[0] <= total <= total_range[1]:
                count += 1

print(f"There are {count} insert records with TOTAL in the range {total_range}.")

There are 0 insert records with TOTAL in the range (5000, 5300).

In [2]:
import os
import time

def get_file_info(file_path):
    file_stats = os.stat(file_path)
    
    # Get file creation time
    creation_time = time.ctime(file_stats.st_ctime)
    
    print(f'File Created: {creation_time}')

# Replace with your file path
file_path = r'C:\Users\trieu.pham\Downloads\xstore.properties'
get_file_info(file_path)

File Created: Fri May 17 13:48:48 2024