In [10]:
import pandas as pd
import configparser
import os

# Read the value from the config.ini file
config = configparser.ConfigParser()
try:
    config.read('config.ini')
    print(config.get('data', 'file_path1'))
except:
    print('Error reading the config file')

try:
    file_path = config.get('data', 'file_path1')
    if not os.path.isfile(file_path):
        raise FileNotFoundError('File not found')
    # Read the data from the csv file
    df = pd.read_csv(file_path)

except FileNotFoundError as e:
    file_path = config.get('data', 'file_path2')
    if not os.path.isfile(file_path):
        raise FileNotFoundError('File not found')
    # Read the data from the csv file
    df = pd.read_csv(file_path)
except:
    print('Error reading the file path from the config file')

if df is not None:
    print(df.head())
else:
    print('DataFrame is not defined')

C:\\DataExport\\VN30F1M.csv
    symbol    date   open   high    low  close   volume           RSI  \
0  VN30F1M  170811  757.9  757.9  743.4  745.7    877.0 -1.000000e+10
1  VN30F1M  170818  745.9  750.9  741.1  742.9   6342.0 -1.000000e+10
2  VN30F1M  170825  742.8  743.4  737.0  743.1  23502.0 -1.000000e+10
3  VN30F1M  170901  743.4  762.2  743.0  762.0  26377.0 -1.000000e+10
4  VN30F1M  170908  761.9  776.4  760.5  775.1  21604.0 -1.000000e+10

           MACD        Signal          MA10          MA20         MA100  \
0 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10
1 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10
2 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10
3 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10
4 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10 -1.000000e+10

          MA200           MFI      Ultimate
0 -1.000000e+10 -1.000000e+10 -1.000000e+10
1 -1.000000e+10 -1.000000e+10 -1.000000e+10
2 -1.000000e+10 -1.000000e+10 -1.000000e+10
3 -1.000000e+10 -1.000000e+10 -1.000000e+10
4 -1.000000e+10 -1.000000e+10 -1.000000e+10

In [11]:
# Drop the rows with missing values
df.dropna(inplace=True)
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   symbol    377 non-null    object
 1   date      377 non-null    int64
 2   open      377 non-null    float64
 3   high      377 non-null    float64
 4   low       377 non-null    float64
 5   close     377 non-null    float64
 6   volume    377 non-null    float64
 7   RSI       377 non-null    float64
 8   MACD      377 non-null    float64
 9   Signal    377 non-null    float64
 10  MA10      377 non-null    float64
 11  MA20      377 non-null    float64
 12  MA100     377 non-null    float64
 13  MA200     377 non-null    float64
 14  MFI       377 non-null    float64
 15  Ultimate  377 non-null    float64
dtypes: float64(14), int64(1), object(1)
memory usage: 47.2+ KB
None

,symbol,date,open,high,low,close,volume,RSI,MACD,Signal,MA10,MA20,MA100,MA200,MFI,Ultimate
0,VN30F1M,170811,757.9,757.9,743.4,745.7,877.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10
1,VN30F1M,170818,745.9,750.9,741.1,742.9,6342.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10
2,VN30F1M,170825,742.8,743.4,737.0,743.1,23502.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10
3,VN30F1M,170901,743.4,762.2,743.0,762.0,26377.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10
4,VN30F1M,170908,761.9,776.4,760.5,775.1,21604.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,VN30F1M,241011,1347.5,1373.4,1331.6,1366.6,1020430.0,6.245920e+01,2.657658e+01,2.843784e+01,1.319910e+03,1.308180e+03,1.171067e+03,1.255256e+03,5.665374e+01,5.700163e+01
373,VN30F1M,241018,1376.0,1378.0,1347.1,1365.9,1035830.0,6.230757e+01,2.800701e+01,2.987640e+01,1.330010e+03,1.312975e+03,1.175096e+03,1.257046e+03,5.681285e+01,5.694757e+01
374,VN30F1M,241025,1364.0,1369.9,1327.0,1327.2,1031020.0,5.443869e+01,2.572137e+01,3.024075e+01,1.333930e+03,1.313935e+03,1.178678e+03,1.258464e+03,5.666523e+01,5.302411e+01
375,VN30F1M,241101,1330.0,1347.9,1325.2,1330.4,899286.0,5.494538e+01,2.389278e+01,2.993632e+01,1.335440e+03,1.314605e+03,1.180972e+03,1.259792e+03,5.738719e+01,5.342026e+01
376,VN30F1M,241105,1332.8,1332.9,1317.0,1319.0,355745.0,5.269702e+01,2.127844e+01,2.887915e+01,1.334070e+03,1.314510e+03,1.183462e+03,1.260967e+03,6.034788e+01,4.701135e+01

In [12]:
import pandas as pd

# Select the relevant columns
columns_of_interest = ['RSI', 'MACD', 'Signal', 'MA10', 'MA20', 'MA200', 'MFI', 'Ultimate', 'close']
df_selected = df[columns_of_interest]
# Clear all rows which have -1.000000e+10 in any column
df_selected = df_selected[~df_selected.isin([-1.000000e+10]).any(axis=1)]

# Calculate the correlation matrix
correlation_matrix = df_selected.corr()

# Extract the correlation values for the 'close' column
correlation_with_close = correlation_matrix['close'].drop('close')

# Print the correlation values
print(correlation_with_close)

RSI         0.553638
MACD        0.702216
Signal      0.730320
MA10        0.937881
MA20        0.856986
MA200      -0.441048
MFI         0.223067
Ultimate    0.570286
Name: close, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

# Assuming your dataframe is named "df"
# Convert the "date" column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%y%m%d')

# Map the day of the week to corresponding labels
day_labels = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
df['DoW'] = df['date'].dt.dayofweek.map(lambda x: day_labels[x])

# Check if the date is the 3rd Thursday of the month and label it as "Th-expired"
DoWExp = config.get('derivatives', 'DoWExp')

df['DoW'] = np.where((df['date'].dt.weekday == 3) & (df['date'].dt.day <= 21) & (df['date'].dt.day >= 15), DoWExp + '-exp', df['DoW'])

# Revert the "date" column back to the original format
df['date'] = df['date'].dt.strftime('%y%m%d')

# Print the updated dataframe
df.head()

,symbol,date,open,high,low,close,volume,RSI,MACD,Signal,MA10,MA20,MA100,MA200,MFI,Ultimate,DoW
0,VN30F1M,170811,757.9,757.9,743.4,745.7,877.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,Fr
1,VN30F1M,170818,745.9,750.9,741.1,742.9,6342.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,Fr
2,VN30F1M,170825,742.8,743.4,737.0,743.1,23502.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,Fr
3,VN30F1M,170901,743.4,762.2,743.0,762.0,26377.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,Fr
4,VN30F1M,170908,761.9,776.4,760.5,775.1,21604.0,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,Fr

In [14]:
import pandas as pd

# Method 1: Buying at the close and selling at the open the next day
df_method1 = df.copy()
df_method1['Entry'] = df_method1['close'].shift()
df_method1['Exit'] = df_method1['open']
df_method1['Points'] = df_method1['Exit'] - df_method1['Entry']
cumulative_points_method1 = df_method1['Points'].cumsum().iloc[-1]

# Method 2: Shorting at the open plus 2 points and covering at the close
df_method2 = df.copy()
df_method2['Entry'] = df_method2['open'] + 2
df_method2['Exit'] = df_method2['close']
df_method2['Points'] = df_method2['Exit'] - df_method2['Entry']
cumulative_points_method2 = df_method2['Points'].cumsum().iloc[-1]

# Method 3: Buying at the open minus 2 points and selling at the close
df_method3 = df.copy()
df_method3['Entry'] = df_method3['open'] - 2
df_method3['Exit'] = df_method3['close']
df_method3['Points'] = df_method3['Exit'] - df_method3['Entry']
cumulative_points_method3 = df_method3['Points'].cumsum().iloc[-1]

# Method 4: Buying at open and selling at close if previous day have close > MA(close, 10). Shorting at open and covering at close if previous day have close < MA(close, 10)
df_method4 = df.copy()
df_method4['MA10'] = df_method4['close'].rolling(window=10).mean()
df_method4['Entry'] = df_method4['open']
df_method4['Exit'] = df_method4['close']
df_method4['Points'] = np.where(df_method4['close'].shift() > df_method4['MA10'].shift(), df_method4['Exit'] - df_method4['Entry'], df_method4['Entry'] - df_method4['Exit'])
cumulative_points_method4 = df_method4['Points'].cumsum().iloc[-1]

# Method 5: Buying at the previous close minus 2 points and selling at the close
df_method5 = df.copy()
df_method5['Entry'] = df_method5['close'].shift() - 2
df_method5['Exit'] = df_method5['close']
df_method5['Points'] = df_method5['Exit'] - df_method5['Entry']
cumulative_points_method5 = df_method5['Points'].cumsum().iloc[-1]

# Compare the cumulative points for each method
method_points = {
    'Method 1': cumulative_points_method1,
    'Method 2': cumulative_points_method2,
    'Method 3': cumulative_points_method3,
    'Method 4': cumulative_points_method4,
    'Method 5': cumulative_points_method5
}

# Find the method with the most points
best_method = max(method_points, key=method_points.get)
best_points = method_points[best_method]

# Print the results
for method, points in method_points.items():
    print(f"{method}: Cumulative Points = {points}")

print(f"\nBest Method: {best_method}")
print(f"Cumulative Points: {best_points}")

Method 1: Cumulative Points = 194.1000000000014
Method 2: Cumulative Points = -387.00000000000136
Method 3: Cumulative Points = 1120.9999999999986
Method 4: Cumulative Points = 213.99999999999932
Method 5: Cumulative Points = 1325.3

Best Method: Method 5
Cumulative Points: 1325.3

In [15]:
# Optimize the moving average window length in Method 4
cumulative_points = {}
for window in range(5, 21):
    df_method4 = df.copy()
    df_method4['MA'] = df_method4['close'].rolling(window=window).mean()
    df_method4['Entry'] = df_method4['open']
    df_method4['Exit'] = df_method4['close']
    df_method4['Points'] = np.where(df_method4['close'].shift() > df_method4['MA'].shift(), df_method4['Exit'] - df_method4['Entry'], df_method4['Entry'] - df_method4['Exit'])
    cumulative_points[window] = df_method4['Points'].cumsum().iloc[-1]

# Find the Range length with the most points
best_window = max(cumulative_points, key=cumulative_points.get)
best_points = cumulative_points[best_window]

# Print the results
for window, points in cumulative_points.items():
    print(f"Range Length: {window}, Cumulative Points = {points}")

Range Length: 5, Cumulative Points = 446.5999999999988
Range Length: 6, Cumulative Points = 207.99999999999886
Range Length: 7, Cumulative Points = 102.79999999999905
Range Length: 8, Cumulative Points = 350.59999999999945
Range Length: 9, Cumulative Points = 356.19999999999914
Range Length: 10, Cumulative Points = 213.99999999999932
Range Length: 11, Cumulative Points = 290.5999999999999
Range Length: 12, Cumulative Points = 314.8000000000002
Range Length: 13, Cumulative Points = 456.7999999999997
Range Length: 14, Cumulative Points = 443.8000000000004
Range Length: 15, Cumulative Points = 248.40000000000032
Range Length: 16, Cumulative Points = 109.39999999999986
Range Length: 17, Cumulative Points = 340.7999999999988
Range Length: 18, Cumulative Points = 240.79999999999882
Range Length: 19, Cumulative Points = 232.599999999999
Range Length: 20, Cumulative Points = 133.9999999999991

In [17]:
import pandas as pd

# Convert the date column to string format
df['date'] = df['date'].astype(str)

# Filter the dataframe for the desired date range (2022 and 2024)
df_filtered = df[(df['date'] >= '220101') & (df['date'] <= '240906')]

# Method 1: Buying at the close and selling at the open the next day
df_method1 = df_filtered.copy()
df_method1['Entry'] = df_method1['close'].shift()
df_method1['Exit'] = df_method1['open']
df_method1['Points'] = df_method1['Exit'] - df_method1['Entry']

# Calculate cumulative points for Method 1
if len(df_method1) > 0:
    cumulative_points_method1 = df_method1['Points'].cumsum().iloc[-1]
else:
    cumulative_points_method1 = 0

# Method 2: Shorting at the open plus 2 points and covering at the close
df_method2 = df_filtered.copy()
df_method2['Entry'] = df_method2['open'] + 2
df_method2['Exit'] = df_method2['close']
df_method2['Points'] = df_method2['Exit'] - df_method2['Entry']

# Calculate cumulative points for Method 2
if len(df_method2) > 0:
    cumulative_points_method2 = df_method2['Points'].cumsum().iloc[-1]
else:
    cumulative_points_method2 = 0

# Method 3: Buying at the open minus 2 points and selling at the close
df_method3 = df_filtered.copy()
df_method3['Entry'] = df_method3['open'] - 2
df_method3['Exit'] = df_method3['close']
df_method3['Points'] = df_method3['Exit'] - df_method3['Entry']

# Calculate cumulative points for Method 3
if len(df_method3) > 0:
    cumulative_points_method3 = df_method3['Points'].cumsum().iloc[-1]
else:
    cumulative_points_method3 = 0

# Method 4: Buying at open and selling at close if previous day have close > MA(close, 5). Shorting at open and covering at close if previous day have close < MA(close, 5)
df_method4 = df_filtered.copy()
df_method4['MA5'] = df_method4['close'].rolling(window=5).mean()
df_method4['Entry'] = df_method4['open']
df_method4['Exit'] = df_method4['close']
df_method4['Points'] = np.where(df_method4['close'].shift() > df_method4['MA5'].shift(), df_method4['Exit'] - df_method4['Entry'], df_method4['Entry'] - df_method4['Exit'])

# Calculate cumulative points for Method 4
if len(df_method4) > 0:
    cumulative_points_method4 = df_method4['Points'].cumsum().iloc[-1]
else:
    cumulative_points_method4 = 0

# Method 5: Buying at the previous close minus 2 points and selling at the close
df_method5 = df_filtered.copy()
df_method5['Entry'] = df_method5['close'].shift() - 2
df_method5['Exit'] = df_method5['close']
df_method5['Points'] = df_method5['Exit'] - df_method5['Entry']

# Calculate cumulative points for Method 5
if len(df_method5) > 0:
    cumulative_points_method5 = df_method5['Points'].cumsum().iloc[-1]

# Compare the cumulative points for each method
method_points = {
    'Method 1': cumulative_points_method1,
    'Method 2': cumulative_points_method2,
    'Method 3': cumulative_points_method3,
    'Method 4': cumulative_points_method4,
    'Method 5': cumulative_points_method5
}

# Find the method with the most points
best_method = max(method_points, key=method_points.get)
best_points = method_points[best_method]

# Print the results
for method, points in method_points.items():
    print(f"{method}: Cumulative Points = {points}")

print(f"\nBest Method: {best_method}")
print(f"Cumulative Points: {best_points}")

Method 1: Cumulative Points = 23.600000000002296
Method 2: Cumulative Points = -537.5000000000024
Method 3: Cumulative Points = 18.499999999997613
Method 4: Cumulative Points = 140.8999999999993
Method 5: Cumulative Points = 45.40000000000009

Best Method: Method 4
Cumulative Points: 140.8999999999993

In [18]:
### METHOD 3
# Method 3: Buying at the open minus 2 points and selling at the close
import pandas as pd

# Convert the date column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%y%m%d')

# Filter the dataframe for the desired date range (2022 and 2023 and 2024)
df_filtered = df[(df['date'].dt.year.isin([2022, 2023, 2024]))]

# Method 3: Buying at the open minus 2 points and selling at the close
df_method3 = df_filtered.copy()
df_method3['Entry'] = df_method3['open'] - 2
df_method3['Exit'] = df_method3['close']
df_method3['Points'] = df_method3['Exit'] - df_method3['Entry']

# Calculate cumulative points for Method 3
cumulative_points_method3 = df_method3['Points'].cumsum()

# Group the data by month and year and calculate the points earned for each month and year
df_method3['Month'] = df_method3['date'].dt.month
df_method3['Year'] = df_method3['date'].dt.year
monthly_points = df_method3.groupby(['Year', 'Month'])['Points'].sum()

# Print the points earned each month and year
#print("Points Earned Each Month and Year:")
#print(monthly_points)


# Show results in year 2024 only
monthly_points_2024 = monthly_points[2024]
print("Points Earned Each Month in 2024:")
print(monthly_points_2024)

Points Earned Each Month in 2024:
Month
1     48.3
2     37.5
3     85.0
4    -59.6
5     32.2
6      3.0
7     18.9
8     67.6
9     48.7
10   -29.4
11    -9.4
Name: Points, dtype: float64

In [19]:
### METHOD 4
# Method 4: Buying at open and selling at close if previous day have close > MA(close, 5). Shorting at open and covering at close if previous day have close < MA(close, 5)
import pandas as pd

# Convert the date column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%y%m%d')

# Filter the dataframe for the desired date range (2022 and 2023 and 2024)
df_filtered = df[(df['date'].dt.year.isin([2022, 2023, 2024]))]

# Method 4: Buying at open and selling at close if previous day have close > MA(close, 5). Shorting at open and covering at close if previous day have close < MA(close, 5)
df_method4 = df_filtered.copy()
df_method4['MA5'] = df_method4['close'].rolling(window=5).mean()
df_method4['Entry'] = df_method4['open']
df_method4['Exit'] = df_method4['close']
df_method4['Points'] = np.where(df_method4['close'].shift() > df_method4['MA5'].shift(), df_method4['Exit'] - df_method4['Entry'], df_method4['Entry'] - df_method4['Exit'])

# Calculate cumulative points for Method 4
cumulative_points_method4 = df_method4['Points'].cumsum()

# Group the data by month and year and calculate the points earned for each month and year
df_method4['Month'] = df_method4['date'].dt.month
df_method4['Year'] = df_method4['date'].dt.year
monthly_points = df_method4.groupby(['Year', 'Month'])['Points'].sum()

# Print the points earned each month and year
#print("Points Earned Each Month and Year:")
#print(monthly_points)

# Show results in year 2024 only
monthly_points_2024 = monthly_points[2024]
print("Points Earned Each Month in 2024:")
print(monthly_points_2024)

Points Earned Each Month in 2024:
Month
1      40.3
2      29.5
3      75.0
4    -192.2
5     -16.6
6     -55.6
7     -44.9
8      18.8
9     -25.3
10    -37.4
11     13.4
Name: Points, dtype: float64

In [20]:
### METHOD 5
# Method 5: Buying at the previous close minus 2 points and selling at the close

import pandas as pd

# Convert the date column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%y%m%d')

# Filter the dataframe for the desired date range (2022 and 2023 and 2024)
df_filtered = df[(df['date'].dt.year.isin([2022, 2023, 2024]))]

# Method 5: Buying at the previous close minus 2 points and selling at the close
df_method5 = df_filtered.copy()
df_method5['Entry'] = df_method5['close'].shift() - 2
df_method5['Exit'] = df_method5['close']
df_method5['Points'] = df_method5['Exit'] - df_method5['Entry']

# Calculate cumulative points for Method 5
cumulative_points_method5 = df_method5['Points'].cumsum()

# Group the data by month and year and calculate the points earned for each month and year
df_method5['Month'] = df_method5['date'].dt.month
df_method5['Year'] = df_method5['date'].dt.year
monthly_points = df_method5.groupby(['Year', 'Month'])['Points'].sum()

# Print the points earned each month and year
#print("Points Earned Each Month and Year:")
#print(monthly_points)

# Show results in year 2024 only
monthly_points_2024 = monthly_points[2024]
print("Points Earned Each Month in 2024:")
print(monthly_points_2024)

Points Earned Each Month in 2024:
Month
1     60.4
2     46.1
3     83.0
4    -57.7
5     47.6
6     12.3
7     18.7
8     57.7
9     30.8
10   -20.3
11    -4.2
Name: Points, dtype: float64

In [22]:
# Create a new column 'Prev_close' which is the 'close' column shifted by 1
df['Prev_close'] = df['close'].shift(1)

# Calculate the difference between 'low' and 'Prev_close'
df['Diff'] = df['low'] - df['Prev_close']

# Filter data for the year 2023
df_2023 = df[df['date'].dt.year == 2023]

# Calculate the rate at which 'low' is less than 'Prev_close' by 2 points
rate = (df_2023['Diff'] <= -2).mean()

print(f"The rate at which 'low' is less than the previous day's 'close' by 2 points in the trading days of 2023 is {rate}")

The rate at which 'low' is less than the previous day's 'close' by 2 points in the trading days of 2023 is 0.7692307692307693

In [25]:
# Create a new column 'Prev_Close' which is the 'Close' column shifted by 1
df['Prev_close'] = df['close'].shift(1)

# Calculate the difference between 'low' and 'Prev_Close'
df['Diff'] = df['low'] - df['Prev_close']

# Filter data for the year 2023
df_2023 = df[df['date'].dt.year == 2023]

# Calculate the rate at which 'low' is less than 'Prev_Close' by 2 to 10 points
for i in range(2, 11):
    rate = (df_2023['Diff'] <= -i).mean()
    print(f"The rate at which 'low' is less than the previous day's 'Close' by {i} points in the trading days of 2023 is {rate}")

The rate at which 'low' is less than the previous day's 'Close' by 2 points in the trading days of 2023 is 0.7692307692307693
The rate at which 'low' is less than the previous day's 'Close' by 3 points in the trading days of 2023 is 0.7307692307692307
The rate at which 'low' is less than the previous day's 'Close' by 4 points in the trading days of 2023 is 0.7115384615384616
The rate at which 'low' is less than the previous day's 'Close' by 5 points in the trading days of 2023 is 0.6346153846153846
The rate at which 'low' is less than the previous day's 'Close' by 6 points in the trading days of 2023 is 0.5961538461538461
The rate at which 'low' is less than the previous day's 'Close' by 7 points in the trading days of 2023 is 0.5769230769230769
The rate at which 'low' is less than the previous day's 'Close' by 8 points in the trading days of 2023 is 0.5576923076923077
The rate at which 'low' is less than the previous day's 'Close' by 9 points in the trading days of 2023 is 0.5576923076923077
The rate at which 'low' is less than the previous day's 'Close' by 10 points in the trading days of 2023 is 0.5384615384615384

In [ ]:
# Ensure the 'date' column is in datetime format
df['date'] = pd.to_datetime(df['date'])

# Filter data for the year 2024
df_2024 = df[df['date'].dt.year == 2024]

# Calculate the rate at which 'low' is less than 'Prev_Close' by 2 to 10 points
for i in range(2, 11):
    rate = (df_2024['Diff'] <= -i).mean()
    print(f"The rate at which 'low' is less than the previous day's 'Close' by {i} points in the trading days of 2024 is {rate}")

The rate at which 'Low' is less than the previous day's 'Close' by 2 points in the trading days of 2024 is 0.8666666666666667
The rate at which 'Low' is less than the previous day's 'Close' by 3 points in the trading days of 2024 is 0.8222222222222222
The rate at which 'Low' is less than the previous day's 'Close' by 4 points in the trading days of 2024 is 0.8
The rate at which 'Low' is less than the previous day's 'Close' by 5 points in the trading days of 2024 is 0.7555555555555555
The rate at which 'Low' is less than the previous day's 'Close' by 6 points in the trading days of 2024 is 0.7333333333333333
The rate at which 'Low' is less than the previous day's 'Close' by 7 points in the trading days of 2024 is 0.7111111111111111
The rate at which 'Low' is less than the previous day's 'Close' by 8 points in the trading days of 2024 is 0.6666666666666666
The rate at which 'Low' is less than the previous day's 'Close' by 9 points in the trading days of 2024 is 0.5777777777777777
The rate at which 'Low' is less than the previous day's 'Close' by 10 points in the trading days of 2024 is 0.5777777777777777

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# Create a target variable 'Action' that is 1 if the price increased compared to the previous day, and 0 otherwise
df['Action'] = (df['close'].shift(-1) > df['close']).astype(int)

# Use the 'open', 'High', 'Low', 'Close' columns as features
features = df[['open', 'high', 'low', 'close']]

# Use the 'Action' column as the target
target = df['Action']

# Split the data into a training set and a test set
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
features_train = scaler.fit_transform(features_train)
features_test = scaler.transform(features_test)

# Create and train a logistic regression model
model = LogisticRegression()
model.fit(features_train, target_train)

# Make a prediction for the next day
next_day_features = features.iloc[-1].values.reshape(1, -1)
next_day_features = scaler.transform(next_day_features)
next_day_prediction = model.predict(next_day_features)

# Get the open price for the next day
next_day_open_price = df['open'].iloc[-1]

if next_day_prediction[0] == 1:
    print(f"The model predicts a price increase. Consider buying at the open price of {next_day_open_price}.")
else:
    print(f"The model predicts a price decrease. Consider shorting at the open price of {next_day_open_price}.")

The model predicts a price decrease. Consider shorting at the open price of 1332.8.

c:\Users\PC\anaconda3\envs\pyenv\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [28]:
# Based on History Price, Calculate the percentage that next_day_prediction is correct
# Make predictions on the test set
predictions = model.predict(features_test)

# Calculate the accuracy
accuracy = (predictions == target_test).mean()

# Print the accuracy as a percentage
print(f"The model's accuracy on the test set is {accuracy * 100:.2f}%")

The model's accuracy on the test set is 53.95%

In [29]:
# Filter the DataFrame for the year 2024
df_2024 = df[df['date'].dt.year == 2024]

# Initialize cumulative points
cumulative_points = 0

# Iterate over each day in 2024
for i in range(len(df_2024) - 1):
    # Get the features for the current day
    current_day_features = df_2024[['open', 'high', 'low', 'close']].iloc[i].values.reshape(1, -1)
    current_day_features_df = pd.DataFrame(current_day_features, columns=['open', 'high', 'low', 'close'])
    current_day_features_scaled = scaler.transform(current_day_features_df)
    
    # Make a prediction for the current day
    prediction = model.predict(current_day_features_scaled)[0]
    
    # Get the actual open and close prices for the next day
    next_day_open = df_2024['open'].iloc[i + 1]
    next_day_close = df_2024['close'].iloc[i + 1]
    
    # Calculate points based on the prediction
    if prediction == 1:  # Predicted price increase
        points = next_day_close - next_day_open
    else:  # Predicted price decrease
        points = next_day_open - next_day_close
    
    # Add the points to the cumulative points
    cumulative_points += points

print(f"Cumulative points for the year 2024: {cumulative_points}")

Cumulative points for the year 2024: 44.49999999999909