In [213]:
###Load csv data to pandas dataframe

##Import libraries
# if not installed, install pandas
if not 'pandas' in locals():
    !pip install pandas!pip install pandas

# if not installed, install numpy
if not 'numpy' in locals():
    !pip install numpy
    
import numpy as np
import pandas as pd
import warnings

##Load data
#Directly from csv
dir = 'C:\\DataExport'
file = 'VN30F1M.csv'

# Define a date parser function
date_parser = lambda x: pd.to_datetime(x, format='%y%m%d')

# Load data to dataframe with date parser
df = pd.read_csv(dir + '\\' + file, parse_dates=['Date'], date_parser=date_parser)

df

ERROR: Invalid requirement: 'pandas!pip'

Requirement already satisfied: numpy in c:\users\pc\anaconda3\envs\pyenv\lib\site-packages (1.26.4)

C:\Users\PC\AppData\Local\Temp\ipykernel_19884\346964440.py:25: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(dir + '\\' + file, parse_dates=['Date'], date_parser=date_parser)

       Symbol       Date    Open    High     Low   Close  Volume
0     VN30F1M 2017-08-10   757.9   757.9   745.5   745.9     367
1     VN30F1M 2017-08-11   746.0   746.4   743.4   745.7     510
2     VN30F1M 2017-08-14   745.9   748.9   745.7   748.9     707
3     VN30F1M 2017-08-15   750.3   750.9   748.0   748.0     946
4     VN30F1M 2017-08-16   747.7   748.4   745.1   748.1    1065
...       ...        ...     ...     ...     ...     ...     ...
1669  VN30F1M 2024-04-12  1265.5  1286.0  1260.1  1286.0  255196
1670  VN30F1M 2024-04-15  1281.5  1286.9  1232.0  1236.3  310619
1671  VN30F1M 2024-04-16  1234.9  1237.9  1212.4  1230.0  385513
1672  VN30F1M 2024-04-17  1233.8  1233.9  1206.5  1214.6  244121
1673  VN30F1M 2024-04-19  1200.1  1211.7  1191.7  1191.7  343787

[1674 rows x 7 columns]

In [214]:
# Step 1: Create 'green_bar' column
df['green_bar'] = df['Close'] > df['Open']

# Step 2: Create 'block' column
df['block'] = (df['green_bar'].shift(1) != df['green_bar']).astype(int).cumsum()

# Step 3: Create 'green_bar_continuous' column
df['green_bar_continuous'] = df.groupby('block')['green_bar'].cumsum() * df['green_bar']

df

,Symbol,Date,Open,High,Low,Close,Volume,green_bar,block,green_bar_continuous
0,VN30F1M,2017-08-10,757.9,757.9,745.5,745.9,367,False,1,0
1,VN30F1M,2017-08-11,746.0,746.4,743.4,745.7,510,False,1,0
2,VN30F1M,2017-08-14,745.9,748.9,745.7,748.9,707,True,2,1
3,VN30F1M,2017-08-15,750.3,750.9,748.0,748.0,946,False,3,0
4,VN30F1M,2017-08-16,747.7,748.4,745.1,748.1,1065,True,4,1
...,...,...,...,...,...,...,...,...,...,...
1669,VN30F1M,2024-04-12,1265.5,1286.0,1260.1,1286.0,255196,True,942,2
1670,VN30F1M,2024-04-15,1281.5,1286.9,1232.0,1236.3,310619,False,943,0
1671,VN30F1M,2024-04-16,1234.9,1237.9,1212.4,1230.0,385513,False,943,0
1672,VN30F1M,2024-04-17,1233.8,1233.9,1206.5,1214.6,244121,False,943,0
1673,VN30F1M,2024-04-19,1200.1,1211.7,1191.7,1191.7,343787,False,943,0

In [215]:
# Create a new column 'next_green_bar' which is True if the next bar is a green bar
df['next_green_bar'] = df['green_bar'].shift(-1)

# Calculate the number of times a green bar follows another bar
num_next_green_bars = df['next_green_bar'].sum()

# Calculate the total number of bars
total_bars = len(df)

# Calculate the probability
probability = num_next_green_bars / total_bars

probability

0.5185185185185185

In [216]:
# Shift the 'green_bar_continuous' column by 2 places
df['shifted_green_bar'] = df['green_bar_continuous'].shift(-2)

# Calculate the number of times two green bars follow a green bar
num_next_two_green_bars = ((df['green_bar_continuous'] >= 1) & (df['shifted_green_bar'] >= 2)).sum()

# Calculate the total number of bars
total_bars = len(df)

# Calculate the probability
probability = num_next_two_green_bars / total_bars

probability

0.11409796893667862

In [217]:
# Shift the 'green_bar_continuous' column by 3 places
df['shifted_green_bar'] = df['green_bar_continuous'].shift(-3)

# Calculate the number of times three green bars follow a green bar
num_next_three_green_bars = ((df['green_bar_continuous'] >= 1) & (df['shifted_green_bar'] >= 3)).sum()

# Calculate the total number of bars
total_bars = len(df)

# Calculate the probability
probability = num_next_three_green_bars / total_bars

probability

0.05734767025089606

In [218]:
# Create an empty list to store the results
results = []

# Calculate total number of bars
total_bars = len(df)

# Loop through each number from 2 to 4
for i in range(1, 10):
    if i == 1:
        # Create a new column 'next_green_bar' which is True if the next bar is a green bar
        df['next_green_bar'] = df['green_bar'].shift(-1)

        # Calculate the number of times a green bar follows another bar
        num_next_green_bars = df['next_green_bar'].sum()

        probability = num_next_green_bars / total_bars
    else:
        # Shift the 'green_bar_continuous' column by i places
        df['shifted_green_bar'] = df['green_bar_continuous'].shift(-i)

        # Calculate the number of times i green bars follow a green bar
        num_next_i_green_bars = ((df['green_bar_continuous'] >= 1) & (df['shifted_green_bar'] >= i)).sum()

        # Calculate the probability
        probability = num_next_i_green_bars / total_bars

    # Append the result to the list
    results.append({'num_green_bars': i, 'probability': probability})

# Convert the list into a DataFrame
results_df = pd.DataFrame(results)

results_df

   num_green_bars  probability
0               1     0.518519
1               2     0.114098
2               3     0.057348
3               4     0.029869
4               5     0.016726
5               6     0.010753
6               7     0.006571
7               8     0.004182
8               9     0.002987

In [219]:
# Create 'red_bar' column
df['red_bar'] = df['Close'] < df['Open']

# Create 'block' column for red bars
df['block_red'] = (df['red_bar'].shift(1) != df['red_bar']).astype(int).cumsum()

# Create 'red_bar_continuous' column
df['red_bar_continuous'] = df.groupby('block_red')['red_bar'].cumsum() * df['red_bar']

# Create an empty list to store the results
results_red = []

# Calculate total number of bars
total_bars = len(df)

# Loop through each number from 1 to 5
for i in range(1, 10):
    if i == 1:
        # Create a new column 'next_red_bar' which is True if the next bar is a red bar
        df['next_red_bar'] = df['red_bar'].shift(-1)

        # Calculate the number of times a red bar follows another bar
        num_next_red_bars = df['next_red_bar'].sum()

        probability = num_next_red_bars / total_bars
    else:
        # Shift the 'red_bar_continuous' column by i places
        df['shifted_red_bar'] = df['red_bar_continuous'].shift(-i)

        # Calculate the number of times i red bars follow a red bar
        num_next_i_red_bars = ((df['red_bar_continuous'] >= 1) & (df['shifted_red_bar'] >= i)).sum()

        # Calculate the probability
        probability = num_next_i_red_bars / total_bars

    # Append the result to the list
    results_red.append({'num_red_bars': i, 'probability': probability})

# Convert the list into a DataFrame
results_df_red = pd.DataFrame(results_red)

results_df_red

   num_red_bars  probability
0             1     0.470729
1             2     0.079450
2             3     0.028674
3             4     0.008961
4             5     0.001195
5             6     0.000000
6             7     0.000000
7             8     0.000000
8             9     0.000000

In [220]:
#query df['green_bar_continuous'] == 4 values

df[df['green_bar_continuous'] == 5]

,Symbol,Date,Open,High,Low,Close,Volume,green_bar,block,green_bar_continuous,next_green_bar,shifted_green_bar,red_bar,block_red,red_bar_continuous,next_red_bar,shifted_red_bar
18,VN30F1M,2017-09-06,762.3,763.5,761.3,763.5,4564,True,10,5,True,2.0,False,10,0,False,0.0
42,VN30F1M,2017-10-10,798.2,802.0,797.8,802.0,6643,True,20,5,True,0.0,False,18,0,False,2.0
56,VN30F1M,2017-10-30,834.0,839.8,831.0,836.2,15450,True,26,5,False,6.0,False,24,0,True,0.0
64,VN30F1M,2017-11-09,856.8,860.9,856.2,857.3,18926,True,30,5,True,14.0,False,28,0,False,0.0
204,VN30F1M,2018-06-06,993.0,1019.0,986.8,1019.0,69173,True,108,5,False,0.0,False,102,0,True,2.0
320,VN30F1M,2018-11-16,868.1,874.9,867.6,870.0,121319,True,172,5,True,0.0,False,168,0,False,1.0
383,VN30F1M,2019-02-22,913.0,924.5,911.5,919.4,124838,True,204,5,True,0.0,False,200,0,False,1.0
664,VN30F1M,2020-04-08,661.0,675.0,656.8,675.0,193063,True,360,5,False,0.0,False,356,0,True,3.0
670,VN30F1M,2020-04-16,716.9,728.4,714.0,725.2,102626,True,362,5,False,2.0,False,358,0,True,0.0
682,VN30F1M,2020-05-06,696.0,718.0,695.3,718.0,179060,True,368,5,True,0.0,False,364,0,False,1.0
747,VN30F1M,2020-08-05,758.7,779.9,756.7,777.5,230438,True,410,5,False,0.0,False,404,0,True,3.0
799,VN30F1M,2020-10-19,898.0,903.4,896.5,903.4,95453,True,442,5,True,1.0,False,434,0,False,0.0
854,VN30F1M,2021-01-05,1106.5,1115.7,1100.1,1111.0,151856,True,476,5,True,0.0,False,468,0,False,5.0
932,VN30F1M,2021-05-05,1323.2,1352.7,1320.1,1335.9,224033,True,518,5,False,1.0,False,510,0,True,0.0
945,VN30F1M,2021-05-24,1415.0,1428.5,1414.2,1426.0,166655,True,526,5,True,2.0,False,518,0,False,0.0
996,VN30F1M,2021-08-03,1449.7,1475.0,1447.1,1475.0,307949,True,556,5,False,2.0,False,548,0,True,0.0
1248,VN30F1M,2022-08-05,1259.0,1264.5,1254.7,1264.5,177010,True,702,5,True,0.0,False,694,0,False,1.0
1329,VN30F1M,2022-11-30,1020.0,1031.3,1009.7,1027.9,403694,True,748,5,False,1.0,False,740,0,True,0.0
1396,VN30F1M,2023-03-13,1043.5,1054.7,1043.0,1048.0,319609,True,786,5,False,2.0,False,778,0,True,0.0
1484,VN30F1M,2023-07-18,1162.0,1165.0,1157.9,1165.0,143179,True,836,5,False,2.0,False,826,0,True,0.0
1490,VN30F1M,2023-07-26,1194.0,1199.0,1192.3,1197.0,117694,True,838,5,False,0.0,False,828,0,True,1.0
1627,VN30F1M,2024-02-07,1206.7,1219.8,1205.2,1219.0,136049,True,916,5,False,2.0,False,904,0,True,0.0

In [221]:
#query df['red_bar_continuous'] == 4 values
# count the number of times 5 red bars follow a red bar
num_next_five_red_bars = ((df['red_bar_continuous'] >= 1) & (df['shifted_red_bar'] >= 5)).sum()

num_next_five_red_bars

10

In [222]:
# Find the best date to buy - Mon to Fri, know that 181011 is 2018/01/11

# Convert the date column to a datetime object
df['Date'] = pd.to_datetime(df['Date'], format='%y%m%d')

# Create a new column for the day of the week
df['DayOfWeek'] = df['Date'].dt.day_name()

# Calculate the average closing price for each day of the week
average_closing_price = df.groupby('DayOfWeek')['Open'].mean()

# Find the day of the week with the lowest average closing price
best_day_to_buy = average_closing_price.idxmin()

best_day_to_buy

'Friday'

In [223]:
# Find the best date to sell - Mon to Fri, know that 181011 is 2018/01/11

# Convert the date column to a datetime object
df['Date'] = pd.to_datetime(df['Date'], format='%y%m%d')

# Create a new column for the day of the week
df['DayOfWeek'] = df['Date'].dt.day_name()

# Calculate the average closing price for each day of the week
average_closing_price = df.groupby('DayOfWeek')['Close'].mean()

# Find the day of the week with the highest average closing price
best_day_to_sell = average_closing_price.idxmax()

best_day_to_sell

'Wednesday'

In [224]:
# Calculate daily return
df['DailyReturn'] = df['Close'] - df['Open']

# Calculate the average daily return for each day of the week
average_daily_return = df.groupby('DayOfWeek')['DailyReturn'].mean()

# Find the day of the week with the highest average daily return
best_day_to_trade = average_daily_return.idxmax()

best_day_to_trade

'Wednesday'

In [225]:
df

,Symbol,Date,Open,High,Low,Close,Volume,green_bar,block,green_bar_continuous,next_green_bar,shifted_green_bar,red_bar,block_red,red_bar_continuous,next_red_bar,shifted_red_bar,DayOfWeek,DailyReturn
0,VN30F1M,2017-08-10,757.9,757.9,745.5,745.9,367,False,1,0,False,1.0,True,1,1,True,0.0,Thursday,-12.0
1,VN30F1M,2017-08-11,746.0,746.4,743.4,745.7,510,False,1,0,True,2.0,True,1,2,False,0.0,Friday,-0.3
2,VN30F1M,2017-08-14,745.9,748.9,745.7,748.9,707,True,2,1,False,3.0,False,2,0,True,0.0,Monday,3.0
3,VN30F1M,2017-08-15,750.3,750.9,748.0,748.0,946,False,3,0,True,4.0,True,3,1,False,0.0,Tuesday,-2.3
4,VN30F1M,2017-08-16,747.7,748.4,745.1,748.1,1065,True,4,1,False,0.0,False,4,0,True,1.0,Wednesday,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669,VN30F1M,2024-04-12,1265.5,1286.0,1260.1,1286.0,255196,True,942,2,False,NaN,False,930,0,True,NaN,Friday,20.5
1670,VN30F1M,2024-04-15,1281.5,1286.9,1232.0,1236.3,310619,False,943,0,False,NaN,True,931,1,True,NaN,Monday,-45.2
1671,VN30F1M,2024-04-16,1234.9,1237.9,1212.4,1230.0,385513,False,943,0,False,NaN,True,931,2,True,NaN,Tuesday,-4.9
1672,VN30F1M,2024-04-17,1233.8,1233.9,1206.5,1214.6,244121,False,943,0,False,NaN,True,931,3,True,NaN,Wednesday,-19.2
1673,VN30F1M,2024-04-19,1200.1,1211.7,1191.7,1191.7,343787,False,943,0,NaN,NaN,True,931,4,NaN,NaN,Friday,-8.4

In [226]:
# Define the order
order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Convert the 'DayOfWeek' column to a categorical type
green_bar_probability_df['DayOfWeek'] = pd.Categorical(green_bar_probability_df['DayOfWeek'], categories=order, ordered=True)

# Sort the DataFrame by the 'DayOfWeek' column
green_bar_probability_df = green_bar_probability_df.sort_values('DayOfWeek')

green_bar_probability_df

   DayOfWeek  GreenBarProbability
1     Monday             0.648936
3    Tuesday             0.583756
4  Wednesday             0.673367
2   Thursday             0.610256
0     Friday             0.624365

In [227]:
# Calculate the 10-day moving average of the close price
df['MovingAverage10'] = df['Close'].rolling(window=10).mean()

# Filter the DataFrame
df_above_ma10 = df[df['Close'] > df['MovingAverage10']]

# Calculate the probability that a green bar occurs on each weekday
green_bar_probability = df_above_ma10.groupby('DayOfWeek')['green_bar'].mean()

# Convert the Series to a DataFrame
green_bar_probability_df = green_bar_probability.reset_index()

# Rename the columns
green_bar_probability_df.columns = ['DayOfWeek', 'GreenBarProbability']

# Convert the 'DayOfWeek' column to a categorical type
green_bar_probability_df['DayOfWeek'] = pd.Categorical(green_bar_probability_df['DayOfWeek'], categories=order, ordered=True)

# Sort the DataFrame by the 'DayOfWeek' column
green_bar_probability_df = green_bar_probability_df.sort_values('DayOfWeek')

green_bar_probability_df

   DayOfWeek  GreenBarProbability
1     Monday             0.648936
3    Tuesday             0.583756
4  Wednesday             0.673367
2   Thursday             0.610256
0     Friday             0.624365

In [228]:
# Define the best days to buy and sell
best_day_to_buy = 'Tuesday'  # replace with your best day to buy
best_day_to_sell = 'Friday'  # replace with your best day to sell

# Create a new DataFrame to hold the trades
trades = pd.DataFrame(columns=['BuyDate', 'BuyPrice', 'SellDate', 'SellPrice'])

# Loop through the DataFrame
for i in range(len(df) - 1):
    # If the current day is the best day to buy
    if df.iloc[i]['DayOfWeek'] == best_day_to_buy:
        # Buy at the open price
        buy_price = df.iloc[i]['Open']
        buy_date = df.iloc[i]['Date']

        # Loop through the remaining days
        for j in range(i + 1, len(df)):
            # If the current day is the best day to sell
            if df.iloc[j]['DayOfWeek'] == best_day_to_sell:
                # Sell at the close price
                sell_price = df.iloc[j]['Close']
                sell_date = df.iloc[j]['Date']

                # Record the trade
                trade = pd.DataFrame({'BuyDate': [buy_date], 'BuyPrice': [buy_price], 'SellDate': [sell_date], 'SellPrice': [sell_price]})
                trades = pd.concat([trades, trade], ignore_index=True)

                # Break the loop as we've sold the stock
                break

# Calculate the profit for each trade
trades['Profit'] = trades['SellPrice'] - trades['BuyPrice']

# Calculate the total profit
total_profit = trades['Profit'].sum()

total_profit

C:\Users\PC\AppData\Local\Temp\ipykernel_19884\31148539.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  trades = pd.concat([trades, trade], ignore_index=True)

1240.1999999999991

In [229]:
# Define the best days to buy and sell
best_day_to_buy = 'Tuesday'  # replace with your best day to buy
best_day_to_sell = 'Friday'  # replace with your best day to sell

# Filter the DataFrame to only include the last month's data
df_last_month = df[df['Date'] > df['Date'].max() - pd.DateOffset(months=1)]

# Now use df_last_month in your existing code
for i in range(len(df_last_month) - 1):
    # If the current day is the best day to buy
    if df_last_month.iloc[i]['DayOfWeek'] == best_day_to_buy:
        # Buy at the open price
        buy_price = df_last_month.iloc[i]['Open']
        buy_date = df_last_month.iloc[i]['Date']
        
        # Loop through the remaining days
        for j in range(i + 1, len(df_last_month)):
            # If the current day is the best day to sell
            if df_last_month.iloc[j]['DayOfWeek'] == best_day_to_sell:
                # Sell at the close price
                sell_price = df_last_month.iloc[j]['Close']
                sell_date = df_last_month.iloc[j]['Date']

                # Record the trade
                trade = pd.DataFrame({'BuyDate': [buy_date], 'BuyPrice': [buy_price], 'SellDate': [sell_date], 'SellPrice': [sell_price]})
                trades = pd.concat([trades, trade], ignore_index=True)

                # Break the loop as we've sold the stock
                break

# Calculate the profit for each trade
trades['Profit'] = trades['SellPrice'] - trades['BuyPrice']

# Calculate the total profit
total_profit = trades['Profit'].sum()

print('Total profit:', total_profit)

Total profit: 1222.199999999999

In [230]:
trade

     BuyDate  BuyPrice   SellDate  SellPrice
0 2024-04-16    1234.9 2024-04-19     1191.7

In [231]:
import warnings

# Define the days of the week
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Initialize the best profit and the best days to buy and sell
best_profit = 0
best_day_to_buy = None
best_day_to_sell = None

# Loop over all combinations of buying and selling days
for i in range(len(days_of_week)):
    for j in range(i + 2, len(days_of_week)):
        # Define the current days to buy and sell
        current_day_to_buy = days_of_week[i]
        current_day_to_sell = days_of_week[j]

        # Print the combination
        print(f"Trying combination: Buy on {current_day_to_buy}, Cover on {current_day_to_sell}")

        # Initialize the trades DataFrame
        current_trades = pd.DataFrame(columns=['BuyDate', 'BuyPrice', 'SellDate', 'SellPrice'])

        # Loop through the DataFrame
        for k in range(len(df) - 1):
            # If the current day is the day to buy
            if df.iloc[k]['DayOfWeek'] == current_day_to_buy:
                # Buy at the open price
                buy_price = df.iloc[k]['Open']
                buy_date = df.iloc[k]['Date']

                # Loop through the remaining days
                for l in range(k + 1, len(df)):
                    # If the current day is the day to sell
                    if df.iloc[l]['DayOfWeek'] == current_day_to_sell:
                        # Sell at the close price
                        sell_price = df.iloc[l]['Close']
                        sell_date = df.iloc[l]['Date']

                        # Record the trade
                        trade = pd.DataFrame({'BuyDate': [buy_date], 'BuyPrice': [buy_price], 'SellDate': [sell_date], 'SellPrice': [sell_price]})
                        # current_trades = pd.concat([current_trades, trade], ignore_index=True)
                        # Suppress FutureWarning only for the pd.concat line
                        with warnings.catch_warnings():
                            warnings.simplefilter(action='ignore', category=FutureWarning)
                            current_trades = pd.concat([current_trades, trade], ignore_index=True)
                        # Break the loop as we've sold the stock
                        break

        # Calculate the profit for each trade
        current_trades['Profit'] = current_trades['SellPrice'] - current_trades['BuyPrice']

        # Calculate the total profit
        total_profit = current_trades['Profit'].sum()

        print(f"Total profit for this combination: {total_profit}")

        # If the total profit is higher than the best profit
        if total_profit > best_profit:
            # Update the best profit and the best days to buy and sell
            best_profit = total_profit
            best_day_to_buy = current_day_to_buy
            best_day_to_sell = current_day_to_sell
            trades = current_trades

(best_day_to_buy, best_day_to_sell)

Trying combination: Buy on Monday, Cover on Wednesday
Total profit for this combination: 139.09999999999843
Trying combination: Buy on Monday, Cover on Thursday
Total profit for this combination: 127.69999999999959
Trying combination: Buy on Monday, Cover on Friday
Total profit for this combination: 485.8999999999984
Trying combination: Buy on Tuesday, Cover on Thursday
Total profit for this combination: 880.0000000000005
Trying combination: Buy on Tuesday, Cover on Friday
Total profit for this combination: 1240.1999999999991
Trying combination: Buy on Wednesday, Cover on Friday
Total profit for this combination: 654.8999999999988

('Tuesday', 'Friday')

In [232]:
import warnings

# Define the days of the week
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Initialize the best profit and the best days to short and cover
best_profit = 0
best_day_to_short = None
best_day_to_cover = None

# Loop over all combinations of shorting and covering days
for i in range(len(days_of_week)):
    for j in range(i + 1, len(days_of_week)):  # Allow the cover day to be the next day after the short day
        # Define the current days to short and cover
        current_day_to_short = days_of_week[i]
        current_day_to_cover = days_of_week[j]

        print(f"Trying combination: Short on {current_day_to_short}, Cover on {current_day_to_cover}")

        # Initialize the trades DataFrame
        current_trades = pd.DataFrame(columns=['ShortDate', 'ShortPrice', 'CoverDate', 'CoverPrice'])

        # Loop through the DataFrame
        for k in range(len(df) - 1):
            # If the current day is the day to short
            if df.iloc[k]['DayOfWeek'] == current_day_to_short:
                # Short at the high price
                short_price = df.iloc[k]['Open']
                short_date = df.iloc[k]['Date']

                # Loop through the remaining days
                for l in range(k + 1, len(df)):
                    # If the current day is the day to cover
                    if df.iloc[l]['DayOfWeek'] == current_day_to_cover:
                        # Cover at the low price
                        cover_price = df.iloc[l]['Close']
                        cover_date = df.iloc[l]['Date']

                        # Record the trade
                        trade = pd.DataFrame({'ShortDate': [short_date], 'ShortPrice': [short_price], 'CoverDate': [cover_date], 'CoverPrice': [cover_price]})
                        # current_trades = pd.concat([current_trades, trade], ignore_index=True)
                        # Suppress FutureWarning only for the pd.concat line
                        with warnings.catch_warnings():
                            warnings.simplefilter(action='ignore', category=FutureWarning)
                            current_trades = pd.concat([current_trades, trade], ignore_index=True)

                        # Break the loop as we've covered the stock
                        break

        # Calculate the profit for each trade
        current_trades['Profit'] = current_trades['ShortPrice'] - current_trades['CoverPrice']

        # Calculate the total profit
        total_profit = current_trades['Profit'].sum()

        print(f"Total profit for this combination: {total_profit}")

        # If the total profit is higher than the best profit
        if total_profit > best_profit:
            # Update the best profit and the best days to short and cover
            best_profit = total_profit
            best_day_to_short = current_day_to_short
            best_day_to_cover = current_day_to_cover
            trades = current_trades

(best_day_to_short, best_day_to_cover)

Trying combination: Short on Monday, Cover on Tuesday
Total profit for this combination: 518.3999999999995
Trying combination: Short on Monday, Cover on Wednesday
Total profit for this combination: -139.09999999999843
Trying combination: Short on Monday, Cover on Thursday
Total profit for this combination: -127.69999999999959
Trying combination: Short on Monday, Cover on Friday
Total profit for this combination: -485.8999999999984
Trying combination: Short on Tuesday, Cover on Wednesday
Total profit for this combination: -935.6999999999994
Trying combination: Short on Tuesday, Cover on Thursday
Total profit for this combination: -880.0000000000005
Trying combination: Short on Tuesday, Cover on Friday
Total profit for this combination: -1240.1999999999991
Trying combination: Short on Wednesday, Cover on Thursday
Total profit for this combination: -370.1
Trying combination: Short on Wednesday, Cover on Friday
Total profit for this combination: -654.8999999999988
Trying combination: Short on Thursday, Cover on Friday
Total profit for this combination: -38.700000000000045

('Monday', 'Tuesday')